.table-div {
    white-space:nowrap; 
    overflow: auto;
}

.table-list {
    display:block;
    overflow-x:scroll;
    cursor: pointer;
}

.ng-table-fixed-column-60 {
    width: 60%; 
}

.ng-table-fixed-column-50 {
    width: 50%; 
}

.ng-table-fixed-column-40 {
    width: 40%; 
}

.ng-table-fixed-column-35 {
    width: 35%; 
}

.ng-table-fixed-column-30 {
    width: 30%; 
}

.ng-table-fixed-column-25 {
    width: 25%; 
}

.ng-table-fixed-column-20 {
    width: 20%; 
}

.input-group-addon.search-clear {
    min-width: 28px;
    padding: 10px 0;
    color: #999;	
}

.input-group-addon.search-icon {
    padding-right: 5px;
    padding-top: 6px;
    font-size: 20px;
}

.ng-table-group-header {
    display: none;
}

.no-pager .ng-table-pager {
    display: none;
}