<div class="sidebar-inner c-overflow">  
  <div class="profile-menu">
    <a href="" toggle-submenu>
      <div class="profile-pic">
      </div>

      <div class="profile-info">
        {{ app.userInfo.name }}

        <i class="zmdi zmdi-caret-down"></i>
      </div>
    </a>

    <ul class="main-menu">
      <li>
        <a data-ui-sref="pages.profile.profile-about" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-account"></i> View Profile</a>
      </li>
      <li>
        <a href=""><i class="zmdi zmdi-pin-help"></i> Help</a>
      </li>
      <li>
        <a ng-click="mactrl.logout()"><i class="zmdi zmdi-time-restore"></i> Logout</a>
      </li>
    </ul>
  </div>

  <ul class="main-menu">
    <li data-ui-sref-active="active" ng-class="app.getCls(mitem)"  ng-repeat="mitem in app.menu">
      <a data-ui-sref="{{ mitem.url || 'empty' }}" data-ng-click="mactrl.sidebarStat($event)" ng-if="!mitem.submenus">
        <i class="zmdi {{ mitem.icon }}"></i> {{ mitem.title }}
      </a>
      <a href="" toggle-submenu ng-if="mitem.submenus">
        <i class="zmdi {{ mitem.icon }}"></i> {{ mitem.title }}
      </a>
      <ul>
        <li ng-repeat="sitem in mitem.submenus">
          <a data-ui-sref-active="active" data-ui-sref="{{ sitem.url || 'empty' }}" data-ng-click="mactrl.sidebarStat($event)" ng-if="!sitem.submenus">{{ sitem.title }}</a>
          <a href="" toggle-submenu ng-if="sitem.submenus">{{ sitem.title }}</a>
          <ul ng-if="sitem.submenus">
            <li ng-repeat="citem in sitem.submenus">
              <a data-ui-sref="{{ citem.url || 'empty' }}" data-ng-click="mactrl.sidebarStat($event)" ng-if="!citem.submenus">
                 {{ citem.title }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
