<div id="calendar-widget" data-full-calendar></div>      
<div class="p-5 p-l-15">
    <h5 class="text-uppercase f-400">Curabitur lobortis</h5>
    <p class="text-muted">Nullam consectetur dolor nec ullamcorper finibus. Quisque a porta mauris, non venenatis mi. Pellentesque habitant morbi tristique</p>                  
    <h5 class="text-uppercase f-400 c-red">Curabitur lobortis</h5>
    <p class="text-muted">Nullam consectetur dolor nec ullamcorper finibus. Quisque a porta mauris, non venenatis mi. Pellentesque habitant morbi tristique</p>                  
    <h5 class="text-uppercase f-400 c-green">Curabitur lobortis</h5>
    <p class="text-muted">Nullam consectetur dolor nec ullamcorper finibus. Quisque a porta mauris, non venenatis mi. Pellentesque habitant morbi tristique</p>                  
</div>
