<div class="container">
  <div class="card">
    <div class="card-body" id="profile-main">
      <div class="row">
        <div class="col-md-4">
          <div class="pmb-block">
            <div class="pmbb-header">
                <h2 class="c-purple f-500">Matter</h2>
            </div>
            <div class="pmbb-body p-l-20">
              <div class="pmbb-view">
                <dl class="dl-horizontal">
                    <dt>File No</dt>
                    <dd>{{ vm.fileNo }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>File Name</dt>
                    <dd>{{ vm.fileName }}</dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="pmb-block">
            <div class="pmbb-header">
                <h2 class="c-purple f-500">Ledger Summary</h2>
            </div>
            <div class="pmbb-body p-l-20">
              <div class="pmbb-view">
                <dl class="dl-horizontal" ng-click="vm.ledger_level2('client')">
                    <dt>Client</dt>
                    <dd>0.00</dd>
                </dl>
                <dl class="dl-horizontal" ng-click="vm.ledger_level2('disb')">
                    <dt>Disbursement</dt>
                    <dd>540.00</dd>
                </dl>
                <dl class="dl-horizontal" ng-click="vm.ledger_level2('fd')">
                    <dt>FD</dt>
                    <dd>0.00</dd>
                </dl>
                <dl class="dl-horizontal" ng-click="vm.ledger_level2('advance')">
                    <dt>Advance</dt>
                    <dd>0.00</dd>
                </dl>
                <dl class="dl-horizontal" ng-click="vm.ledger_level2('other')">
                    <dt>Other</dt>
                    <dd>0.00</dd>
                </dl>
                <dl class="dl-horizontal" ng-click="vm.ledger_level2('client')">
                    <dt>Receivables</dt>
                    <dd>0.00</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="col-md-9">
            <div class="pmb-block">
              <div class="pmbb-header">
                  <h2 class="c-purple f-500" style="display: inline-block;">Quotations</h2>
                  <button class="btn btn-default bgm-purple f-15" title="Upload files" ng-click="vm.upload()" style="margin-left: 65px;"><i class="zmdi zmdi-plus"></i></button>
              </div>
              <div class="pmbb-body">
                <div class="table-responsive table-div no-pager"> 
                  <table ng-table="vm.quotationTable" class="table table-vmiddle" show-filter="true">
                    <tr ng-repeat="w in $data">
                      <td data-title="'Date'">
                        15/03/2018
                      </td>
                      <td data-title="'No'">
                        {{ w.invoiceNo }}
                      </td>
                      <td data-title="'To'">
                        {{ w.issueToName }}
                      </td>
                      <td data-title="'Amount'">
                        {{ w.amount }}
                      </td>
                    </tr>
                    <tr ng-if="$data.length==0">
                      <td colspan="12">No record</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-11">
            <div class="pmb-block">
              <div class="pmbb-header">
                  <h2 class="c-purple f-500" style="display: inline-block;">Invoices</h2>
                  <button class="btn btn-default bgm-purple f-15" title="Upload files" ng-click="vm.upload()" style="margin-left: 90px;"><i class="zmdi zmdi-plus"></i></button>
              </div>
              <div class="pmbb-body">
                <div class="table-responsive table-div no-pager"> 
                  <table ng-table="vm.invoiceTable" class="table table-vmiddle" show-filter="true">
                    <tr ng-repeat="w in $data">
                      <td data-title="'Date'">
                        03/05/2017
                      </td>
                      <td data-title="'No'" class="ng-table-fixed-column-20">
                        {{ w.invoiceNo }}
                      </td>
                      <td data-title="'To'" class="ng-table-fixed-column-20">
                        {{ w.fileName }}
                      </td>
                      <td data-title="'Amount'" class="ng-table-fixed-column-20">
                        {{ w.amount }}
                      </td>
                      <td data-title="'Paid'">
                        {{ w.fileNo }}
                      </td>
                      <td data-title="'Balance'">
                        {{ w.fileNo }}
                      </td>                    
                    </tr>
                    <tr ng-if="$data.length==0">
                      <td colspan="12">No record</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
