<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-8">
          <h2 class="c-purple f-500 f-20">{{ vm.fileNo }} ( {{ vm.fileName }} )</h2>
        </div>
      </div>
    </div>
    <div class="card-body card-padding">
      <div class="p-15">
        <label class="checkbox checkbox-inline m-r-20">
          <input type="checkbox" ng-model="vm.select_all" 
            ng-click="vm.toggleAll()">
          <i class="input-helper"></i>
          All
        </label>
        <label class="checkbox checkbox-inline m-r-20" ng-repeat="category in vm.all_categories">
          <div>
            <input type="checkbox" name="categories[]" 
              ng-checked="vm.categories.indexOf(category.key) > -1"
              ng-click="vm.toggleSelection(category.key)">
            <i class="input-helper"></i>
            {{ category.val }}            
          </div>
          <div class="f-500 c-purple">
            321.25
          </div>
        </label>
      </div>

      <div class="table-responsive table-div" ng-if="vm.dataReady" > 
        <table ng-table="vm.tableFilter" class="table table-striped table-vmiddle table-list" show-filter="true">
          <tr ng-repeat="w in $data">
            <td data-title="'Date'" filter="{ 'date': 'text' }" sortable="'date'">
              {{ w.date|ddate }}
            </td>
            <td data-title="'Transaction No'" filter="{ 'documentNo': 'text' }" sortable="'documentNo'">
              {{ w.documentNo }}
            </td>
            <td data-title="'Bill No'" filter="{ 'taxInvoice': 'text' }" sortable="'taxInvoice'">
              {{ w.taxInvoice }}
            </td>
            <td data-title="'Received / Paid'" filter="{ 'recdPaid': 'text' }" sortable="'recdPaid'">
              {{ w.recdPaid }}
            </td>
            <td data-title="'Description'" filter="{ 'description': 'text' }" sortable="'description'">
              {{ w.description }}
            </td>
            <td data-title="'Dr'" filter="{ 'amountCR': 'text' }" sortable="'amountCR'">
              {{ w.amountCR }}
            </td>
            <td data-title="'Cr'" filter="{ 'amountDR': 'text' }" sortable="'amountDR'">
              {{ w.amountDR }}
            </td>
            <td data-title="'Balance'" filter="{ 'displayAmount': 'text' }" sortable="'displayAmount'">
              {{ w.displayAmount }}
            </td>
            <td data-title="'Mode'" filter="{ 'paymentMode': 'text' }" sortable="'paymentMode'">
              {{ w.paymentMode }}
            </td>
            <td data-title="'Bank a/c'" filter="{ 'bankAcc': 'text' }" sortable="'bankAcc'">
              {{ w.bankAcc }}
            </td>
            <td data-title="'Issued by'" filter="{ 'issuedBy': 'text' }" sortable="'issuedBy'">
              {{ w.issuedBy }}
            </td>
            <td data-title="'Updated by'" filter="{ 'updatedBy': 'text' }" sortable="'updatedBy'">
              {{ w.updatedBy }}
            </td>
          </tr>
          <tr ng-if="$data.length==0">
            <td colspan="12">No record</td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
