<div class="container">

    <div class="card">
        <div class="card-body card-padding">
            <div class="clearfix"></div>

            <h4>Bank CAC Information</h4>
            <div class="row">
                <div class="col-md-6 p-l-25">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Master Bank Code</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank_CAC.master_bank_code" placeholder="PBB">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">CAC Name</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank_CAC.CAC_name" placeholder="PBB-2342">
                            </div>
                        </dd>
                    </dl>                    
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Bank CAC Manager</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank_CAC.bank_CAC_manager" placeholder="UA203453">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Manager IC No.</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank_CAC.manager_IC_no" placeholder="65428-45-8798">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Bank Officer</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.bank_CAC.bank_officer" type="text" class="form-control" placeholder="Jheng Han">
                            </div>

                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Address (Line 1)</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.bank_CAC.address1" type="text" class="form-control" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Address (Line 2)</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank_CAC.address2" placeholder="UA203453">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Address (Line 3)</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank_CAC.address3" placeholder="Lawyer">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Postcode</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.bank_CAC.postcode" type="text" class="form-control" placeholder="eg. Mallinda Hollaway">
                            </div>

                        </dd>
                    </dl>
                </div>                
                <div class="col-md-6 p-l-25">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Town</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank_CAC.town" placeholder="UA203453">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">State</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank_CAC.state" placeholder="Lawyer">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Country</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.bank_CAC.country" type="text" class="form-control" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Phone 1</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank_CAC.phone1" placeholder="UA203453">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Phone 2</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank_CAC.phone2" placeholder="Lawyer">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Phone (Mobile)</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.bank_CAC.phone3" type="text" class="form-control" placeholder="eg. Mallinda Hollaway">
                            </div>

                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Fax</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank_CAC.fax" placeholder="UA203453">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Email</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank_CAC.email" placeholder="Lawyer">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Website</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank_CAC.website" placeholder="Lawyer">
                            </div>
                        </dd>
                    </dl>

                </div>                
            </div>            
            <div class="clearfix"></div>
      
            <div class="row">     
                <div class="col-md-10">
                    <div class="m-t-30">
                        <a class="btn btn-link btn-sm pull-right m-l-10" data-ui-sref="bank-CACs.list" data-ng-click="vm.editInfo = 0" >Cancel</a>
                        <a class="btn btn-primary btn-sm pull-right" type="submit" ng-click="vm.save()">Save</a>
                    </div>        
                </div>
            </div>
        </div>
    </div>
         
</div>


