<div class="container">
  <div class="card">
    <div class="card-body card-padding">
      <div class="clearfix"></div>
      <h4 class="m-t-25">Bank Branch Information</h4>
      <div class="row">
        <div class="col-md-5 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">ID No</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.bankBranch.IDNo" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Name</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.bankBranch.name" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Email</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.emailAddress">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone Home</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.phoneHome">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone Mobile</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.phoneMobile">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone Office</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.phoneOffice">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Fax</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.phoneFax">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Website</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.webSite">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-5 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Country</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.bankBranch.address.country" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">State</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.address.state">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Postcode</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.bankBranch.address.postcode" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">City</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.address.city">
              </div>
            </dd>
          </dl>              
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 1)</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.bankBranch.address.line1" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 2)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.address.line2">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 3)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.address.line3">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <h4 class="m-t-25" ng-click="vm.showBank=!vm.showBank">Bank Information&nbsp;&nbsp;&nbsp;&nbsp;<i class="zmdi zmdi-plus" ng-if="!vm.showBank"></i><i class="zmdi zmdi-minus" ng-if="vm.showBank"></i></h4>
      <div class="row" ng-show="vm.showBank">
        <div class="col-md-5 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">ID No</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.bankBranch.HQ.IDNo" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Name</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.bankBranch.HQ.name" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Email</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.HQ.emailAddress">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone Home</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.HQ.phoneHome">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone Mobile</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.HQ.phoneMobile">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone Office</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.HQ.phoneOffice">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Fax</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.HQ.phoneFax">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Website</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.HQ.webSite">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-5 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Bank Brand</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.bankBranch.HQ.bankCode" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Country</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.bankBranch.HQ.address.country" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">State</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.address.state">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Postcode</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.bankBranch.HQ.address.postcode" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">City</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.HQ.address.city">
              </div>
            </dd>
          </dl>              
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 1)</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.bankBranch.HQ.address.line1" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 2)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.HQ.address.line2">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 3)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bankBranch.HQ.address.line3">
              </div>
            </dd>
          </dl>
        </div>        
      </div>
      <div class="clearfix"></div>
      
      <div class="row">
        <div class="col-md-10">
          <div class="m-t-30">
            <a class="btn btn-default btn-sm pull-right m-l-10" ng-click="vm.cancel()" >Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
