<div ng-class="vm.isDialog ? '' : 'container'">
  <div class="card">
    <div class="card-header">
      <div class="row">
      <div class="col-md-11 col-sm-12">
        <h2 class="c-purple f-500 f-20" style="display: inline;">Edit Bank Branch</h2>
        <a class="btn btn-link btn-sm pull-right m-l-5" ng-click="vm.cancel()" >Cancel</a>
        <a class="btn btn-danger btn-sm pull-right m-l-5" type="submit" ng-click="vm.openDelete($event, vm.contact)" ng-if="vm.userInfo.priority.contact.delete && !vm.create_new && !vm.viewMode">Delete</a>
        <a class="btn btn-primary btn-sm pull-right m-l-5" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.contact.update && vm.can_edit">Save</a>
        <a class="btn bgm-cyan btn-sm pull-right m-l-5" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.contact.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
        <a class="btn bgm-green btn-sm pull-right m-l-5" type="submit" ng-click="vm.copy()" ng-if="vm.userInfo.priority.contact.update && !vm.create_new && !vm.viewMode"><i class="zmdi zmdi-copy"></i>&nbsp;&nbsp;Duplicate</a>
        <a class="btn bgm-cyan btn-sm pull-right" type="submit" ng-click="vm.new_()" ng-if="vm.userInfo.priority.contact.update && !vm.create_new && !vm.viewMode"><i class="zmdi zmdi-plus"></i>&nbsp;&nbsp;New</a>
      </div>
      </div>
    </div>
    <div class="card-body card-padding">
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Master Bank Code</dt>
            <dd>
              <md-autocomplete
                md-selected-item="vm.bank_CAC.clsBankCode"
                md-search-text="searchText"
                md-items="item in vm.queryBanks(searchText)"
                md-item-text="item.code ? item.code: ' '"
                md-min-length="1"
                md-autoselect="false"
                class="default-input">
              <md-item-template>
                <span md-highlight-text="searchText" md-highlight-flags="i">{{item.code}}</span>
              </md-item-template>
              </md-autocomplete>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Bank Name</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.bank_CAC.clsBankCode.strName" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">CAC Name</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bank_CAC.strName">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address Line 1</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bank_CAC.strAddressLine1">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address Line 2</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bank_CAC.strAddressLine2">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address Line 3</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bank_CAC.strAddressLine3">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Postcode</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bank_CAC.strPostCode">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Town</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bank_CAC.strCity">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">State</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bank_CAC.strState">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Country</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.bank_CAC.strCountry" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone 1 (Manager)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bank_CAC.strPhone1">
              </div>
            </dd>
          </dl>              
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone 2 (Credit Dept.)</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.bank_CAC.strPhone2" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone 3</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bank_CAC.strPhone3">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Fax</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bank_CAC.strPhoneFax">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Email Address</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bank_CAC.strEmailAddress">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Bank CAC Manager</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bank_CAC.strManager">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Manager IC No</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bank_CAC.address.line3">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Bank Officer</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bank_CAC.address.line3">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <h4 class="m-t-25 m-b-20">Other Information</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Mailing List</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.bank_CAC.strMailList" type="text" class="form-control">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Note 1</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bank_CAC.strNote1">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Note 2</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.bank_CAC.strNote2">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-11 col-sm-12 no-padding">
          <div class="m-t-30 p-l-15">
            <a class="btn btn-link btn-sm pull-right m-l-5" ng-click="vm.cancel()" >Cancel</a>
            <a class="btn btn-danger btn-sm pull-right m-l-5" type="submit" ng-click="vm.openDelete($event, vm.contact)" ng-if="vm.userInfo.priority.contact.delete && !vm.create_new && !vm.viewMode">Delete</a>
            <a class="btn btn-primary btn-sm pull-right m-l-5" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.contact.update && vm.can_edit">Save</a>
            <a class="btn bgm-cyan btn-sm pull-right m-l-5" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.contact.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
            <a class="btn bgm-green btn-sm pull-right m-l-5" type="submit" ng-click="vm.copy()" ng-if="vm.userInfo.priority.contact.update && !vm.create_new && !vm.viewMode"><i class="zmdi zmdi-copy"></i>&nbsp;&nbsp;Duplicate</a>
            <a class="btn bgm-cyan btn-sm pull-right" type="submit" ng-click="vm.new_()" ng-if="vm.userInfo.priority.contact.update && !vm.create_new && !vm.viewMode"><i class="zmdi zmdi-plus"></i>&nbsp;&nbsp;New</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
