<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-12">
          <span class="f-20 f-500 c-purple">BILL ITEM LIST</span>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="col-sm-4 p-l-25">
        <div class="input-group input-group-lg">
          <span class="input-group-addon search-icon"><i class="zmdi zmdi-search"></i></span>
          <div class="fg-line">
            <input type="text" class="form-control" placeholder="Search" ng-model="vm.keyword" ng-change="vm.search()">
          </div>
          <span class="input-group-addon search-clear" ng-show="vm.keyword" ng-click="vm.keyword='';vm.search();"><i class="zmdi zmdi-close"></i></span>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="table-responsive table-div p-15">
        <table ng-table="vm.tableFilter" class="table table-striped table-vmiddle table-list">
          <tr ng-repeat="w in $data" ui-sref="billing.quotations-edit({'id': w.documentNo})">
            <td data-title="'Date'">
              {{ w.issueDate|ddate }}
            </td>
            <td data-title="'File No.1'">
              {{ w.fileNo }}
            </td>
            <td data-title="'Quotation'">
              {{ w.documentNo }}
            </td>
            <td data-title="'Quotation To'">
              {{ w.issueToName }}
            </td>
            <td data-title="'Matter Code'">
              {{ w.matter.code }}
            </td>
            <td data-title="'Fees'" class="text-right">
              {{ w.spaAdj | number:2 }}
            </td>
            <td data-title="'Disb (GST)'" class="text-right">
              {{ w.fileNo1 }}
            </td>
            <td data-title="'Disb'" class="text-right">
              {{ w.documentNo1 }}
            </td>
            <td data-title="'GST'" class="text-right">
              {{ w.fileNo1 }}
            </td>
            <td data-title="'Total'" class="text-right">
              {{ w.amount }}
            </td>
            <td data-title="'Price'" class="text-right">
              {{ w.spaPrice | number:2 }}
            </td>
            <td data-title="'Loan'" class="text-right">
              {{ w.spaLoan | number:2 }}
            </td>
            <td data-title="'Aging'">
              {{ w.aging }}
            </td>
            <td data-title="'Tax Invoice'">
              {{ w.taxInvoice }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
