<header id="header" data-current-skin="blue" data-ng-include src="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
  <aside id="sidebar" data-ng-include src="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
  <section id="content" class="page-view" data-ui-view></section>
</section>

<footer id="footer" data-ng-include src="'template/footer.html'"></footer>

<script type="text/ng-template" id="deleteEntityModal.html">
  <div class="modal-header">
    <h4 class="modal-title">Delete a {{ entity_type }}</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete the {{ entity_type }}?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link" ng-click="ok()">OK</button>
    <button class="btn btn-link" ng-click="cancel()">Cancel</button>
  </div>
</script>

<script type="text/ng-template" id="preview-doc.html">
  <div class="modal-header">
    <span class="modal-title f-16 f-500 c-black m-r-10">{{ filename }}</span>
    <a class="btn btn-default btn-sm m-l-25 bgm-gray" title="Download" ng-click="download()">
      <i class="zmdi zmdi-download"></i>
    </a>
  </div>
  <div style="height: calc(100vh - 135px);">
    <iframe ng-src="{{ url }}" style="width: 100%; height: 100%; border: 1px solid #aaa;"></iframe>
  </div>
</script>
