<div ng-class="vm.isDialog ? '' : 'container'">
  <p id="back-top" ng-if="!vm.isDialog">
    <a href="#top"><span class="glyphicon glyphicon-chevron-up"></span> TOP</a>  
  </p>
  <div class="card">
    <div class="card-header">
      <div class="row">
      <div class="col-md-11 col-sm-12" ng-if="!vm.viewMode">
        <h2 class="c-purple f-500 f-20" style="display: inline;">Edit Contact</h2>
        <a class="btn btn-link btn-sm pull-right m-l-5" ng-click="vm.cancel()" >Cancel</a>
        <a class="btn btn-danger btn-sm pull-right m-l-5" type="submit" ng-click="vm.openDelete($event, vm.contact)" ng-if="vm.userInfo.priority.contact.delete && !vm.create_new">Delete</a>
        <a class="btn btn-primary btn-sm pull-right m-l-5" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.contact.update && vm.can_edit">Save</a>
        <a class="btn bgm-cyan btn-sm pull-right m-l-5" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.contact.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
        <a class="btn bgm-green btn-sm pull-right m-l-5" type="submit" ng-click="vm.copy()" ng-if="vm.userInfo.priority.contact.update && !vm.create_new"><i class="zmdi zmdi-copy"></i>&nbsp;&nbsp;Duplicate</a>
        <a class="btn bgm-cyan btn-sm pull-right" type="submit" ng-click="vm.new_()" ng-if="vm.userInfo.priority.contact.update && !vm.create_new"><i class="zmdi zmdi-plus"></i>&nbsp;&nbsp;New</a>
      </div>
      <div class="col-md-10 col-sm-11 no-padding" ng-if="vm.viewMode">
        <h2 class="c-purple f-500 f-20" style="display: inline;">Contact Detail</h2>
        <a class="btn btn-default btn-sm pull-right" ng-click="vm.cancel()" >Close</a>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-12 col-md-10 p-l-10" ng-if="!vm.create_new && !vm.viewMode">
        <md-button class="btn-sm md-raised md-warn" style="min-height: 0;margin: 6px 3px;" ng-click="vm.relatedMatter()">Matters</md-button>
        <md-button class="btn-sm md-raised md-warn" style="min-height: 0;margin: 6px 3px;" ng-click="vm.openFolder()">Folder</md-button>
        <md-button class="btn-sm md-raised md-warn" style="min-height: 0;margin: 6px 3px;" ng-click="vm.upload()">Upload</md-button>
      </div>
      </div>
    </div>

    <div class="card-body card-padding">
      <div class="clearfix"></div>
      <h4>Personal Information</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Name</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.contact.name" ng-readonly="!vm.can_edit" type="text" class="form-control f-500" camel-case>
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Title</dt>
            <dd>
              <div class="fg-line">
                <md-autocomplete
                  ng-disabled="!vm.can_edit"
                  md-selected-item="vm.contact.title"
                  md-search-text="searchText"
                  md-items="item in vm.queryFields('Salutations', searchText)"
                  md-item-text="item.description"
                  md-min-length="0"
                  class="default-input">
                  <md-item-template>
                    <span md-highlight-text="searchText" class="col-1" md-highlight-flags="i">{{item.description}}</span>
                  </md-item-template>
                </md-autocomplete>
              </div>
            </dd>
          </dl>          
          <dl class="dl-horizontal">
            <dt class="p-t-10">ID Type</dt>
            <dd>
              <div class="fg-line">
                <md-autocomplete
                  ng-disabled="!vm.can_edit"
                  md-selected-item="vm.contact.idType"
                  md-search-text="q"
                  md-items="item in vm.queryFields('IDTypes', q)"
                  md-item-text="item.description"
                  md-min-length="0"
                  class="default-input">
                  <md-item-template>
                    <span md-highlight-text="searchText" class="col-1" md-highlight-flags="i">{{item.description}}</span>
                  </md-item-template>
                </md-autocomplete>
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">ID No</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.IDNo" placeholder="000000-00-0000">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Old IC</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.old_ic" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal dp-blue">
            <dt class="p-t-10">Date of Birth</dt>
            <dd>
              <div class="fg-line">
                <input ng-click="open($event, 'opened')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="vm.contact.birthDate" is-open="opened" min-date="'1900-1-1'" datepicker-options="dateOptions" ng-disabled="!vm.can_edit" ng-required="true" close-text="Close" placeholder="Select Date" />
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Citizenship</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.citizenship" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Occupation</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.contact.occupation.description" ng-readonly="!vm.can_edit" type="text" class="form-control" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Contact Type</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.contact.occupation.description" ng-readonly="!vm.can_edit" type="text" class="form-control" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal dp-blue">
            <dt class="">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="vm.contact.deceased">
                  <i class="input-helper"></i>
                  Deceased
                </label>
              </div>
            </dt>
            <dd>
              <div class="fg-line">
                <input ng-click="open($event, 'opened_d')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="vm.contact.deathDate" is-open="opened_d" min-date="'1900-1-1'" datepicker-options="dateOptions" ng-disabled="!vm.can_edit" ng-required="true" close-text="Close" placeholder="Select Date of death" />
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="vm.contact.add_favourite">
                <i class="input-helper"></i>
                Add to Favourites
              </label>
            </div>
          </dl>
          <dl class="dl-horizontal" style="padding-top: 1px;">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="vm.contact.InviteToDenning">
                <i class="input-helper"></i>
                Invite To Denning
              </label>
            </div>
          </dl>
        </div>
      </div>

      <div class="clearfix"></div>
      <h4 class="m-t-25">Contact Information</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 1)</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.contact.address.line1" ng-readonly="!vm.can_edit" type="text" class="form-control" camel-case>
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 2)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.address.line2" camel-case>
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 3)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.address.line3" camel-case>
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Postcode</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.contact.address.postcode" ng-readonly="!vm.can_edit" type="text" class="form-control" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Town</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.address.city" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">State</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.address.state" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Country</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.contact.address.country" ng-readonly="!vm.can_edit" type="text" class="form-control" placeholder="">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Contact Person</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone Home</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.phoneHome" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone Mobile</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.phoneMobile" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone Office</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.contact.phoneOffice" ng-readonly="!vm.can_edit" type="text" class="form-control" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Fax</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.phoneFax" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Email</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.emailAddress" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Website</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.webSite" placeholder="">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <div class="clearfix"></div>

      <h4 class="m-t-25 p-t-5">Tax Information</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Tax Reference No.</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.taxFileNo" placeholder="">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">IRD Branch</dt>
            <dd>
              <div class="fg-line">
                <md-autocomplete
                  ng-disabled="!vm.can_edit"
                  md-selected-item="vm.contact.irdBranch"
                  md-search-text="iq"
                  md-items="item in vm.queryFields('IRDBranches', iq)"
                  md-item-text="item.description"
                  md-min-length="0"
                  class="default-input">
                  <md-item-template>
                    <span md-highlight-text="searchText" class="col-1" md-highlight-flags="i">{{item.description}}</span>
                  </md-item-template>
                </md-autocomplete>  
              </div>
            </dd>
          </dl>
        </div>
      </div>

      <h4 class="m-t-25 p-t-5">GST Information</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="vm.contact.not_applicable">
                <i class="input-helper"></i>
                GST Registered
              </label>
            </div>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">GST Reg. No.</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.taxFileNo" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">RMCD Approval No.</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.taxFileNo" placeholder="">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="vm.contact.not_applicable">
                <i class="input-helper"></i>
                GST Status Verified
              </label>
            </div>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Last GST Status Verified Date</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.taxFileNo" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Bank</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.taxFileNo" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Account No.</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.taxFileNo" placeholder="">
              </div>
            </dd>
          </dl>
        </div>        
      </div>
      <h4 class="m-t-25" ng-click="vm.showCompany=!vm.showCompany">Company Information&nbsp;&nbsp;&nbsp;&nbsp;<i class="zmdi zmdi-plus" ng-if="!vm.showCompany"></i><i class="zmdi zmdi-minus" ng-if="vm.showCompany"></i></h4>
      <div class="row" ng-show="vm.showCompany">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="vm.contact.same_as_above">
                <i class="input-helper"></i>
                Same as above
              </label>
            </div>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Office Address</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Secretary</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt>&nbsp;</dt>
            <dd><div class="p-t-10">&nbsp;</div></dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Director 1</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Director 2</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <h4 class="m-t-25" ng-click="vm.showOptional=!vm.showOptional">Optional Information&nbsp;&nbsp;&nbsp;&nbsp;<i class="zmdi zmdi-plus" ng-if="!vm.showOptional"></i><i class="zmdi zmdi-minus" ng-if="vm.showOptional"></i></h4>
      <div class="row" ng-show="vm.showOptional">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Spouse Name</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Spouse Occupation</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Race</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Religion</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Sex</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Monthly Income</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Place of Work</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Place of Birth</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Education Level</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Institution</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <h4 class="m-t-25" ng-click="vm.showMore=!vm.showMore">More Information&nbsp;&nbsp;&nbsp;&nbsp;<i class="zmdi zmdi-plus" ng-if="!vm.showMore"></i><i class="zmdi zmdi-minus" ng-if="vm.showMore"></i></h4>
      <div class="row" ng-show="vm.showMore">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Extra 1</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Extra 2</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Extra 3</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Extra 4</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Extra 5</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <h4 class="m-t-25" ng-click="vm.showExtra=!vm.showExtra">Extra Information&nbsp;&nbsp;&nbsp;&nbsp;<i class="zmdi zmdi-plus" ng-if="!vm.showExtra"></i><i class="zmdi zmdi-minus" ng-if="vm.showExtra"></i></h4>
      <div class="row" ng-show="vm.showExtra">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Correspondence Address</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Extra Address 1</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Extra Address 2</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Extra Address 3</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <h4 class="m-t-25">Remarks</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Remark</dt>
            <dd>
              <div class="fg-line">
                <textarea class="form-control p-l-10" ng-readonly="!vm.can_edit" rows="8" ng-model="vm.contact.strNote" placeholder="type here...."></textarea>
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <h4 class="m-t-25">Office Use</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Entered by</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Date</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.taxFileNo" placeholder="">
              </div>
            </dd>
          </dl>          
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Updated by</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.registeredOffice" placeholder="">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Date</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.contact.taxFileNo" placeholder="">
              </div>
            </dd>
          </dl>          
        </div>
      </div>
      <div class="row">
        <div class="col-md-11 col-sm-12 no-padding" ng-if="!vm.viewMode">
          <div class="m-t-30 p-l-15">
            <md-button ng-if="!vm.create_new" class="btn-sm md-raised md-warn m-t-0" style="min-height: 0;margin: 6px 3px;" ng-click="vm.relatedMatter()">Matters</md-button>
            <md-button ng-if="!vm.create_new" class="btn-sm md-raised md-warn m-t-0" style="min-height: 0;margin: 6px 3px;" ng-click="vm.openFolder()">Folder</md-button>
            <md-button ng-if="!vm.create_new" class="btn-sm md-raised md-warn m-t-0" style="min-height: 0;margin: 6px 3px;" ng-click="vm.upload()">Upload</md-button>
            <input ng-if="!vm.create_new" type="file" class="hidden contact-upload" multiple ng-model="file" base-sixty-four-input onload="vm.onLoad">
            <a class="btn btn-link btn-sm pull-right m-l-5" ng-click="vm.cancel()" >Cancel</a>
            <a class="btn btn-danger btn-sm pull-right m-l-5" type="submit" ng-click="vm.openDelete($event, vm.contact)" ng-if="vm.userInfo.priority.contact.delete && !vm.create_new">Delete</a>
            <a class="btn btn-primary btn-sm pull-right m-l-5" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.contact.update && vm.can_edit">Save</a>
            <a class="btn bgm-cyan btn-sm pull-right m-l-5" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.contact.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
            <a class="btn bgm-green btn-sm pull-right m-l-5" type="submit" ng-click="vm.copy()" ng-if="vm.userInfo.priority.contact.update && !vm.create_new"><i class="zmdi zmdi-copy"></i>&nbsp;&nbsp;Duplicate</a>
            <a class="btn bgm-cyan btn-sm pull-right" type="submit" ng-click="vm.new_()" ng-if="vm.userInfo.priority.contact.update && !vm.create_new"><i class="zmdi zmdi-plus"></i>&nbsp;&nbsp;New</a>
          </div>
        </div>
        <div class="col-md-10 col-sm-11" ng-if="vm.viewMode">
          <div class="m-t-30">
            <a class="btn btn-default btn-sm pull-right m-l-10" ng-click="vm.cancel()" >Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h4 class="modal-title">Delete a contract</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete the contract?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link" ng-click="ok()">OK</button>
    <button class="btn btn-link" ng-click="cancel()">Cancel</button>
  </div>
</script>
