<div class="container">
  <div class="card">
    <div class="card-body card-padding">
      <div class="clearfix"></div>
      <h4 class="m-t-25">Court Information</h4>
      <div class="row">
        <div class="col-md-5 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Code</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.court.code" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Type</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.court.typeE" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Place</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.court.place" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Email</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.court.emailAddress">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone Office 1</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.court.phone1">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone Office 2</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.court.phone2">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Fax</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.court.phoneFax">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Website</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.court.webSite">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-5 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Country</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.court.address.country" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">State</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.court.address.state">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Postcode</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.court.address.postcode" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">City</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.court.address.city">
              </div>
            </dd>
          </dl>              
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 1)</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.court.address.line1" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 2)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.court.address.line2">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 3)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.court.address.line3">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <div class="clearfix"></div>
      
      <div class="row">
        <div class="col-md-10">
          <div class="m-t-30">
            <a class="btn btn-default btn-sm pull-right m-l-10" ng-click="vm.cancel()" >Close</a>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>
