<div class="container">
  <script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" ng-model="vm.checkboxes.checked" class="select-all" value="" />
  </script>

  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-11 col-lg-9">
          <h2 class="c-purple f-500 f-20">{{ vm.title }}</h2>
          <button class="btn btn-default pull-right m-r-5 f-15" title="Attach files for email" ng-click="vm.attachFile()"><i class="zmdi zmdi-attachment-alt"></i></button>
          <button class="btn btn-default pull-right m-r-5 f-15" title="Copy files" ng-click="vm.copyFile()"><i class="zmdi zmdi-copy"></i></button>
          <button class="btn btn-default pull-right m-r-5 f-15" title="Move files" ng-click="vm.moveFile()"><i class="zmdi zmdi-mail-send"></i></button>
          <button class="btn btn-default pull-right m-r-5 f-15" title="Share files" ng-click="vm.shareFile()"><i class="zmdi zmdi-share"></i></button>
          <button class="btn btn-default pull-right m-r-5 f-15" title="Delete files" ng-click="vm.deleteFile()"><i class="zmdi zmdi-delete"></i></button>
          <button class="btn btn-default pull-right m-r-5 f-15" title="Upload files" ng-click="vm.refresh()"><i class="zmdi zmdi-refresh-alt"></i></button>
          <button class="btn btn-default pull-right m-r-5 f-15" title="Create a folder" ng-click="vm.createFolder()"><i class="zmdi zmdi-collection-plus"></i></button>
          <button class="btn btn-default pull-right m-r-5 f-15" title="Upload files" ng-click="vm.upload()"><i class="zmdi zmdi-upload"></i></button>
          <input type="file" class="file-upload hidden" multiple ng-model="file" base-sixty-four-input onload="vm.onLoad">
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
      <div class="col-md-11 col-lg-9">
        <div class="table-responsive table-div p-15 f-14"> 
          <table ng-table="vm.tableFilter" class="table folder table-vmiddle">
            <tr class="ng-table-group" ng-repeat-start="group in $groups">
              <td colspan="4">
                <a href="" ng-click="group.$hideRows = !group.$hideRows">
                  <i class="zmdi zmdi-folder"></i>&nbsp;
                  <strong>{{ group.value.toUpperCase() }}</strong>
                </a>
              </td>
              <td class="f-16">
                <div ng-if="group.value!='FILES'">
                  <button class="btn btn-default btn-sm waves-circle" title="Rename" ng-click="vm.renameFolder(group.value)">
                    <i class="zmdi zmdi-edit"></i>
                  </button>
                  <button class="btn btn-default btn-sm waves-circle m-l-5" title="Delete" ng-click="vm.deleteFolder(group.value)">
                    <i class="zmdi zmdi-delete"></i>
                  </button>                  
                </div>
              </td>              
            </tr>
            <tr ng-hide="group.$hideRows" ng-if="file.name" ng-repeat="file in group.data" ng-repeat-end>
              <td header="'headerCheckbox.html'"><input type="checkbox" ng-model="vm.checkboxes.items[file.id]" /></td>
              <td sortable="'name'" filter="{ 'name': 'text' }" data-title="'Name'" class="ng-table-fixed-column-60">
                <i class="zmdi zmdi-collection-pdf" ng-if="file.ext=='.pdf'"></i>
                <i class="zmdi zmdi-collection-image" ng-if="file.ext=='.jpg' || file.ext=='.png'"></i>
                <i class="zmdi zmdi-collection-text" ng-if="file.ext!='.pdf' && file.ext!='.jpg' && file.ext!='.png'"></i>&nbsp;
                <a href="" ng-click="vm.preview(file);" class="c-black">{{file.name}}</a>
              </td>
              <td sortable="'ext'" data-title="'Ext'" class="ng-table-fixed-column-15">
                {{file.ext}}
              </td>
              <td sortable="'date'" data-title="'Date'" class="ng-table-fixed-column-25">
                {{file.date|ddate}}
              </td>
              <td data-title="'Action'" class="f-16">
                <button class="btn btn-default btn-sm waves-circle" title="Rename" ng-click="vm.renameDoc(file)">
                  <i class="zmdi zmdi-edit"></i>
                </button>
                <button class="btn btn-default btn-sm waves-circle m-l-5" title="Download" ng-click="vm.download(file)">
                  <i class="zmdi zmdi-download"></i>
                </button>
                <button class="btn btn-default btn-sm waves-circle m-l-5" ngclipboard ngclipboard-success="vm.copySuccess(e);" data-clipboard-text="{{ file.name }}{{ file.ext }}" title="Copy link"><i class="zmdi zmdi-collection-text"></i></button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="folderModal.html">
  <div class="modal-header">
    <h4 class="modal-title">Move Documents</h4>
  </div>
  <div class="modal-body">
    <p>Destination Sub Folder</p>
    <div class="form-group" ng-class="is_valid">
      <div class="fg-line">
        <div class="select">
          <select class="form-control" ng-model="folderName" ng-change="validate()">
            <option ng-repeat="item in folders" value="{{ item.name }}">{{ item.name }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link" ng-click="ok()">OK</button>
    <button class="btn btn-link" ng-click="cancel()">Cancel</button>
  </div>
</script>


<script type="text/ng-template" id="fileModal.html">
  <div class="modal-header">
    <h4 class="modal-title">Rename {{ type }}</h4>
  </div>
  <div class="modal-body">
    <p>New Name</p>
    <div class="form-group" ng-class="is_valid">
      <div class="fg-line">
        <input type="text" class="form-control" ng-model="fileName" ng-change="validate()">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link" ng-click="ok()">OK</button>
    <button class="btn btn-link" ng-click="cancel()">Cancel</button>
  </div>
</script>

<script type="text/ng-template" id="newFolderModal.html">
  <div class="modal-header">
    <h4 class="modal-title">Create a sub folder</h4>
  </div>
  <div class="modal-body">
    <p>Sub Folder Name</p>
    <div class="form-group" ng-class="is_valid">
      <div class="fg-line">
        <input type="text" class="form-control" ng-model="fileName" ng-change="validate()">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link" ng-click="ok()">OK</button>
    <button class="btn btn-link" ng-click="cancel()">Cancel</button>
  </div>
</script>
