<div class="container">
  <script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" ng-model="vm.checkboxes.checked" class="select-all" value="" />
  </script>

  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-lg-11">
            <span class="d-header">FOLDER</span>
            <ul class="actions matter-action m-l-20">
              <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                  <i class="zmdi zmdi-more"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <a ui-sref="accounts.list({ fileNo: vm.file.no, fileName: vm.file.name })">ACCOUNTS</a>
                  </li>
                  <li>
                    <a ui-sref="notes.list({ fileNo: vm.file.no, fileName: vm.file.name })">NOTES</a>
                  </li>
                  <li>
                    <a ui-sref="payment-records.list({ fileNo: vm.file.no })">PAYMENTS</a>
                  </li>
                  <li>
                    <a ui-sref="file-matters.edit({ fileNo: vm.file.no, tab: 'template' })">TEMPLATES</a>
                  </li>
                  <li>
                    <a ui-sref="courtdiary({ keyword: vm.file.no })">CALENDAR</a>
                  </li>
                  <li>
                    <a href="">CHECKLIST</a>
                  </li>
                </ul>
              </li>
            </ul>
          <h2 class="c-purple f-500 f-18 m-t-15">{{ vm.title }}</h2>
          <button class="btn btn-default pull-right m-r-5 f-15" title="Attach files for email" ng-click="vm.attachFile()"><i class="zmdi zmdi-attachment-alt"></i></button>
          <button class="btn btn-default pull-right m-r-5 f-15" title="Copy files" ng-click="vm.copyFile()"><i class="zmdi zmdi-copy"></i></button>
          <button class="btn btn-default pull-right m-r-5 f-15" title="Move files" ng-click="vm.moveFile()"><i class="zmdi zmdi-mail-send"></i></button>
          <button class="btn btn-default pull-right m-r-5 f-15" title="Share files" ng-click="vm.shareFile()"><i class="zmdi zmdi-share"></i></button>
          <button class="btn btn-default pull-right m-r-5 f-15" title="Delete files" ng-click="vm.deleteFile()"><i class="zmdi zmdi-delete"></i></button>
          <button class="btn btn-default pull-right m-r-5 f-15" title="Refresh" ng-click="vm.refresh()"><i class="zmdi zmdi-refresh-alt"></i></button>
          <button class="btn btn-default pull-right m-r-5 f-15" title="Create a folder" ng-click="vm.createFolder()"><i class="zmdi zmdi-collection-plus"></i></button>
          <button class="btn btn-default pull-right m-r-5 f-15" title="Upload files" ng-click="vm.upload()"><i class="zmdi zmdi-upload"></i></button>
          <input type="file" class="file-upload hidden" multiple ng-model="file" base-sixty-four-input onload="vm.onLoad">
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
      <div class="col-lg-11">
        <div class="table-responsive table-div p-15 f-14"> 
          <table ng-table="vm.tableFilter" class="table folder table-vmiddle table-list">
            <tr class="ng-table-group" ng-repeat-start="group in $groups">
              <td colspan="4">
                <a href="" ng-click="group.$hideRows = !group.$hideRows">
                  <i class="zmdi zmdi-folder"></i>&nbsp;
                  <strong>{{ group.value.toUpperCase() }}</strong>
                </a>
              </td>
              <td class="f-16">
                <div ng-if="group.value!='FILES'">
                  <button class="btn btn-default btn-sm waves-circle" title="Rename" ng-click="vm.renameFolder(group.value)">
                    <i class="zmdi zmdi-edit"></i>
                  </button>
                  <button class="btn btn-default btn-sm waves-circle m-l-5" title="Delete" ng-click="vm.deleteFolder(group.value)">
                    <i class="zmdi zmdi-delete"></i>
                  </button>                  
                </div>
              </td>              
            </tr>
            <tr ng-hide="group.$hideRows" ng-if="file.name" ng-repeat="file in group.data" ng-repeat-end>
              <td header="'headerCheckbox.html'"><input type="checkbox" ng-model="vm.checkboxes.items[file.id]" /></td>
              <td sortable="'name'" filter="{ 'name': 'text' }" data-title="'Name'" class="ng-table-fixed-column-60">
                <i class="zmdi zmdi-collection-pdf" ng-if="file.ext=='.pdf'"></i>
                <i class="zmdi zmdi-collection-image" ng-if="file.ext=='.jpg' || file.ext=='.png'"></i>
                <i class="zmdi zmdi-collection-text" ng-if="file.ext!='.pdf' && file.ext!='.jpg' && file.ext!='.png'"></i>&nbsp;
                <a href="" ng-click="vm.preview(file);" class="c-black">{{file.name}}</a>
              </td>
              <td sortable="'ext'" data-title="'Ext'" class="ng-table-fixed-column-15">
                {{file.ext}}
              </td>
              <td sortable="'date'" data-title="'Date'" class="ng-table-fixed-column-25">
                {{file.date|ddate}}
              </td>
              <td data-title="'Action'" class="f-16">
                <button class="btn btn-default btn-sm waves-circle" title="Rename" ng-click="vm.renameDoc(file)">
                  <i class="zmdi zmdi-edit"></i>
                </button>
                <button class="btn btn-default btn-sm waves-circle m-l-5" title="Download" ng-click="vm.download(file)">
                  <i class="zmdi zmdi-download"></i>
                </button>
                <button class="btn btn-default btn-sm waves-circle m-l-5" ng-click="vm.copyLink(file)" title="Copy link"><i class="zmdi zmdi-collection-text"></i></button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="folderModal.html">
  <div class="modal-header">
    <h4 class="modal-title">Move Documents</h4>
  </div>
  <div class="modal-body">
    <ul class="f-15 c-blue m-b-20 p-l-20">
      <li ng-repeat="file in files track by $index">{{ file.name }}{{ file.ext }}</li>
    </ul>
    <h5>Destination</h5>
    <div class="radio col-sm-3">
      <label>
        <input type="radio" value="0" ng-model="searchCategory">
        <i class="input-helper"></i>
        All
      </label>
    </div>
    <div class="radio col-sm-3">
      <label>
        <input type="radio" value="1" ng-model="searchCategory">
        <i class="input-helper"></i>
        Matter
      </label>
    </div>
    <div class="radio col-sm-3">
      <label>
        <input type="radio" value="2" ng-model="searchCategory">
        <i class="input-helper"></i>
        Contact
      </label>
    </div>
    <div class="radio col-sm-3">
      <label>
        <input type="radio" value="10" ng-model="searchCategory">
        <i class="input-helper"></i>
        Transit
      </label>
    </div>
    <div class="col-md-12 m-b-15 m-t-10">
      <md-autocomplete
        md-selected-item="dest"
        md-search-text="qstl"
        md-items="item in search(qstl)"
        md-item-text="item.keyword"
        md-min-length="0"
        md-selected-item-change="mainSearch(item)"
        class="default-input">
        <md-item-template>
          <span md-highlight-text="qstl" class="col-1" md-highlight-flags="i">
            {{ item.keyword }}
          </span>
        </md-item-template>
        <md-not-found>
          No results matching "{{ qstl }}" were found.
        </md-not-found>
      </md-autocomplete>
    </div>
    <div class="clearfix"></div>
    <dl class="dl-horizontal">
      <dt class="p-t-10">Folder</dt>
      <dd>
        <div class="fg-line">
          <div class="select">
            <select class="form-control" ng-model="folderName" ng-change="validate()">
              <option ng-repeat="item in folders" value="{{ item.name }}">{{ item.name }}</option>
            </select>
          </div>
        </div>
      </dd>
    </dl>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link" ng-click="ok()">OK</button>
    <button class="btn btn-link" ng-click="cancel()">Cancel</button>
  </div>
</script>

<script type="text/ng-template" id="linkModal.html">
  <div class="modal-header">
    <h4 class="modal-title">Link of {{ file.name }}{{ file.ext }}</h4>
  </div>
  <div class="modal-body p-b-20">
    <dl class="dl-horizontal m-l-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="set_expiration">
          <i class="input-helper"></i>
          Set expiration date
        </label>
      </div>
    </dl>
    <dl class="dl-horizontal m-l-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="set_password">
          <i class="input-helper"></i>
          Set password
        </label>
      </div>
    </dl>
    <button class="btn btn-info btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-link"></i></button>
    <a href="" class="m-l-15 f-15" ng-show="!glink" ng-click="getLink()"> Get a link</a>
    <input type="text" class="form-control m-l-10" ng-show="glink" style="display: inline; width: 360px;" ng-model="link">
    <button class="btn bgm-cyan waves-effect m-l-10" ng-show="glink" ng-click="copyLink()">Copy</button>
  </div>
</script>


<script type="text/ng-template" id="linksModal.html">
  <div class="modal-header">
    <h4 class="modal-title">Link of Files</h4>
  </div>
  <div class="modal-body p-b-20">
    <dl class="dl-horizontal">
      <ul class="f-15 c-black">
        <li ng-repeat="file in files track by $index">{{ file.name }}{{ file.ext }}</li>
      </ul>
    </dl>
    <button class="btn btn-info btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-link"></i></button>
    <a href="" class="m-l-15 f-15" ng-show="!glink" ng-click="getLink()"> Get a link</a>
    <input type="text" class="form-control m-l-10" ng-show="glink" style="display: inline; width: 360px;" ng-model="links">
    <button class="btn bgm-cyan waves-effect m-l-10" ng-show="glink" ng-click="copyLink()">Copy</button>
  </div>
</script>

<script type="text/ng-template" id="fileModal.html">
  <div class="modal-header">
    <h4 class="modal-title">Rename {{ type }}</h4>
  </div>
  <div class="modal-body">
    <p>New Name</p>
    <div class="form-group" ng-class="is_valid">
      <div class="fg-line">
        <input type="text" class="form-control" ng-model="fileName" ng-change="validate()">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link" ng-click="ok()">OK</button>
    <button class="btn btn-link" ng-click="cancel()">Cancel</button>
  </div>
</script>

<script type="text/ng-template" id="newFolderModal.html">
  <div class="modal-header">
    <h4 class="modal-title">Create a sub folder</h4>
  </div>
  <div class="modal-body">
    <p>Sub Folder Name</p>
    <div class="form-group" ng-class="is_valid">
      <div class="fg-line">
        <input type="text" class="form-control" ng-model="fileName" ng-change="validate()">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link" ng-click="ok()">OK</button>
    <button class="btn btn-link" ng-click="cancel()">Cancel</button>
  </div>
</script>
