<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="row">
            <div class="col-md-8" style="margin-top: 100px;">
                <h2 class="pull-right" style="color: grey; font-style: italic; font-weight: 700; line-height: 50px;">"Unlike my brother judge here, who is concerned with law,"<br>he once teased at a legal dinner, "I am concerned with justice."</h2>
            </div>
            </div>
            <div class="row">
            <div class="col-md-8">
                <h2 class="pull-right" style="color: grey;">- Lord Denning</h2>
            </div>
            </div>
        </div>
    </section>
</section>
<iframe class="chat_frame" ng-src="{{app.chat_url}}" ng-if="app.loadChat" ng-show="mactrl.sidebarToggle.right"></iframe>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
