<div class="container">
    
    <div class="card">
        <div class="card-header">
            <h2>Tax Invoice List <small>Type something in filter and press Enter or Filter button</small></h2>
        </div>
                
        <div class="card-body">
            <div class="table-responsive" ng-if="vm.dataReady" > 
                <table ng-table="vm.tableFilter" class="table table-striped table-vmiddle" show-filter="true">
                    <tr ng-repeat="w in $data">
                        <td data-title="'ID No'" filter="{ 'IDNo': 'text' }" sortable="'IDNo'">
                            {{ w.IDNo }}
                        </td>
                        <td data-title="'Full Name'" filter="{ 'name': 'text' }" sortable="'name'">
                            {{ w.name }}
                        </td>
                        <td data-title="'Phone Mobile'" filter="{ 'phoneMobile': 'text' }" sortable="'phoneMobile'">
                            {{ w.phoneMobile }}
                        </td>
                        <td data-title="'Phone Home'" filter="{ 'phoneHome': 'text' }" sortable="'phoneHome'">
                            {{ w.phoneHome }}
                        </td>
                        <td data-title="'Actions'">
                            <a class="btn btn-primary" ng-if="!w.$edit"  ui-sref="invoices.edit({id:w.code})"><i class="zmdi zmdi-edit"></i></a>
                            <a class="btn btn-warning" ng-click="vm.openDelete(w)"><i class="zmdi zmdi-delete"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h4 class="modal-title">Delete a billing item</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure to delete the billing item?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-link" ng-click="ok()">OK</button>
        <button class="btn btn-link" ng-click="cancel()">Cancel</button>
    </div>
</script>


