<div class="container">
  <div class="block-header">
    <h2>home / IRB-branches</h2>
  </div>
  
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-12">
          <span class="f-20 f-500 c-purple">IRD Branch List</span>
          <a ui-sref="IRD-branches.new" ng-if="vm.userInfo.priority.irbbranch.create" class="btn btn-info btn-header"><i class="zmdi zmdi-plus"></i></a>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive table-div p-15" ng-if="vm.dataReady"> 
        <table ng-table="vm.tableFilter" class="table table-striped table-vmiddle table-list" show-filter="true">
          <tr ng-repeat="w in $data" ng-click="vm.clickHandler(w)">
            <td data-title="'IRB Branch Code'" filter="{ 'description': 'text' }" sortable="'description'">
              {{ w.description }}
            </td>
            <td data-title="'Address'" filter="{ 'address.fullAddress': 'text' }" sortable="'address.fullAddress'">
              {{ w.address.fullAddress }}
            </td>
            <td data-title="'Phone Mobile'" filter="{ 'phoneMobile': 'text' }" sortable="'phoneMobile'">
              {{ w.phoneMobile }}
            </td>
            <td data-title="'Phone Home'" filter="{ 'phoneHome': 'text' }" sortable="'phoneHome'">
              {{ w.phoneHome }}
            </td>
            <td data-title="'Fax'" filter="{ 'phoneFax': 'text' }" sortable="'phoneFax'">
              {{ w.phoneFax }}
            </td>
            <td data-title="'Email'" filter="{ 'emailAddress': 'text' }" sortable="'emailAddress'">
              {{ w.emailAddress }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
