<div class="container">
  <div class="card">
    <div class="card-body card-padding">
      <div class="clearfix"></div>
      <h4 class="m-t-25">IRB Branch Information</h4>
      <div class="row">
        <div class="col-md-5 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Code</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.IRDBranch.code" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Description</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.IRDBranch.description" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Email</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.IRDBranch.emailAddress">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone Office 1</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.IRDBranch.phone1">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone Office 2</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.IRDBranch.phone2">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Fax</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.IRDBranch.phoneFax">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Website</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.IRDBranch.webSite">
              </div>
            </dd>
          </dl>                
        </div>
        <div class="col-md-5 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Country</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.IRDBranch.address.country" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">State</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.IRDBranch.address.state">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Postcode</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.IRDBranch.address.postcode" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">City</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.IRDBranch.address.city">
              </div>
            </dd>
          </dl>              
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 1)</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.IRDBranch.address.line1" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 2)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.IRDBranch.address.line2">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 3)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.IRDBranch.address.line3">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <div class="clearfix"></div>
      
      <div class="row">
        <div class="col-md-10" ng-if="!vm.viewMode">
          <div class="m-t-30">
            <a class="btn btn-link btn-sm pull-right m-l-10" ng-click="vm.cancel()" >Cancel</a>
            <a class="btn btn-danger btn-sm pull-right m-l-10" type="submit" ng-click="vm.openDelete($event, vm.contact)" ng-if="vm.userInfo.priority.irbbranch.delete">Delete</a>
            <a class="btn btn-primary btn-sm pull-right m-l-10" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.irbbranch.update && vm.can_edit">Save</a>
            <a class="btn bgm-cyan btn-sm pull-right" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.irbbranch.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
          </div>
        </div>
        <div class="col-md-10" ng-if="vm.viewMode">
          <div class="m-t-30">
            <a class="btn btn-default btn-sm pull-right m-l-10" ng-click="vm.cancel()" >Close</a>
          </div>
        </div>
      </div>
      </div>
  </div>     
</div>
