<div class="container">

    <div class="card">
      
                
        <div class="card-body card-padding">
            <div class="clearfix"></div>

            <h4>Judge Information</h4>
            <div class="row">
                <div class="col-md-6 p-l-25">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Name</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.judge.name" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Title 1</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.judge.title1" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Title 2</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.judge.title2" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Position</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.judge.position" type="text" class="form-control" placeholder="">
                            </div>

                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="vm.judge.favourite">
                                <i class="input-helper"></i>
                                Add to Favourites
                            </label>
                        </div>
                    </dl>

                </div>
                <div class="col-md-6 p-l-25">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Position (Malay)</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.judge.position_mal" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Court Type</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.judge.court_type" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Court Name</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.judge.court_name" type="text" class="form-control" placeholder="">
                            </div>
                        </dd>
                    </dl>
                </div>
                             
            </div>
         
            <div class="row">     
                <div class="col-md-10">
                    <div class="m-t-30">
                        <a class="btn btn-link btn-sm pull-right m-l-10" data-ui-sref="judges.list" data-ng-click="vm.editInfo = 0" >Cancel</a>
                        <a class="btn btn-primary btn-sm pull-right" type="submit" ng-click="vm.save()">Save</a>
                    </div>        
                </div>
            </div>
        </div>
    </div>
         
</div>


