<div ng-class="vm.isDialog ? '' : 'container'">
  <div class="card">
    <div class="card-body card-padding">
      <div class="clearfix"></div>
      <h4 class="m-t-25">Legal Firm Information</h4>
      <div class="row">
        <div class="col-md-5 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Code</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.legalFirm.code" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Name</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.legalFirm.name" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Email</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.legalFirm.emailAddress">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone Home</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.legalFirm.phoneHome">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone Mobile</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.legalFirm.phoneMobile">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone Office</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.legalFirm.phoneOffice">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Fax</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.legalFirm.phoneFax">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Website</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.legalFirm.webSite">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-5 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Country</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.legalFirm.address.country" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">State</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.legalFirm.address.state">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Postcode</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.legalFirm.address.postcode" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">City</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.legalFirm.address.city">
              </div>
            </dd>
          </dl>              
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 1)</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.legalFirm.address.line1" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 2)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.legalFirm.address.line2">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 3)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.legalFirm.address.line3">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <div class="clearfix"></div>
      
      <div class="row">
        <div class="col-md-10">
          <div class="m-t-30">
            <a class="btn btn-default btn-sm pull-right m-l-10" ng-click="vm.cancel()" >Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
