<div class="container">

    <div class="card">
        <div class="card-body card-padding">
            <div class="clearfix"></div>

            <h4>Legal Firm Information</h4>
            <div class="row">
                <div class="col-md-6 p-l-25">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Firm Name</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.legalFirm.firm_name" type="text" class="form-control" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Initials</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.legalFirm.initials" type="text" class="form-control" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Title</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.legalFirm.title" type="text" class="form-control" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Description</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.legalFirm.address1" type="text" class="form-control" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Address (Line 1)</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.legalFirm.address1" type="text" class="form-control" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Address (Line 2)</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.legalFirm.address2" placeholder="UA203453">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Address (Line 3)</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.legalFirm.address3" placeholder="Lawyer">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Postcode</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.legalFirm.postcode" type="text" class="form-control" placeholder="eg. Mallinda Hollaway">
                            </div>

                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Town</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.legalFirm.town" placeholder="UA203453">
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6 p-l-25">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">State</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.legalFirm.state" placeholder="Lawyer">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Country</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.legalFirm.country" type="text" class="form-control" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Phone 1</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.legalFirm.phone1" placeholder="UA203453">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Phone 2</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.legalFirm.phone2" placeholder="Lawyer">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Phone (Mobile)</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.legalFirm.phone3" type="text" class="form-control" placeholder="eg. Mallinda Hollaway">
                            </div>

                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Fax</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.legalFirm.fax" placeholder="UA203453">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Email</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.legalFirm.email" placeholder="Lawyer">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Website</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.legalFirm.website" placeholder="Lawyer">
                            </div>
                        </dd>
                    </dl>

                </div>                
            </div>            
            <div class="clearfix"></div>
    
            <div class="row">     
                <div class="col-md-10">
                    <div class="m-t-30">
                        <a class="btn btn-link btn-sm pull-right m-l-10" data-ui-sref="legal-firms.list" data-ng-click="vm.editInfo = 0" >Cancel</a>
                        <a class="btn btn-primary btn-sm pull-right" type="submit" ng-click="vm.save()">Save</a>
                    </div>        
                </div>
            </div>
        </div>
    </div>
         
</div>


