<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
      <div class="col-md-10 col-sm-11">
        <h2 class="c-purple f-500 f-20" style="display: inline;">Edit Legal Firm</h2>
        <a class="btn btn-link btn-sm pull-right m-l-5" ng-click="vm.cancel()" >Cancel</a>
        <a class="btn btn-danger btn-sm pull-right m-l-5" type="submit" ng-click="vm.openDelete($event, vm.legalfirm)" ng-if="vm.userInfo.priority.legalfirm.delete && !vm.create_new && !vm.viewMode">Delete</a>
        <a class="btn btn-primary btn-sm pull-right m-l-5" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.legalfirm.update && vm.can_edit">Save</a>
        <a class="btn bgm-cyan btn-sm pull-right m-l-5" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.legalfirm.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
      </div>  
      </div>
    </div>
    <div class="card-body card-padding">
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-5 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Code</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.legalFirm.code" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Name</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.legalFirm.strName" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Initials</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.legalFirm.strInitials" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Title</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.legalFirm.strTitle">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Lawyer Name</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.legalFirm.strLawyerName" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Email</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.legalFirm.strEmailAddress">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone Office 1</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.legalFirm.strPhone1">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Phone Office 2</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.legalFirm.strPhone2">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Fax</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.legalFirm.strPhoneFax">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Mobile</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.legalFirm.strPhoneMobile">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Remarks</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.legalFirm.strRemarks">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-5 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">State</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.legalFirm.strState">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Postcode</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.legalFirm.strPostCode" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">City</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.legalFirm.strCity">
              </div>
            </dd>
          </dl>              
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 1)</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.legalFirm.strAddressLine1" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 2)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.legalFirm.strAddressLine2">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Address (Line 3)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.legalFirm.strAddressLine3">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Status</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.legalFirm.strStatus">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Website</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.legalFirm.strWebsite">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Note 1</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.legalFirm.strNote1">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Note 2</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.legalFirm.strNote2">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <div class="clearfix"></div>
      
      <div class="row">
        <div class="col-md-10 col-sm-11 no-padding">
          <div class="m-t-30">
            <a class="btn btn-link btn-sm pull-right m-l-10" ng-click="vm.cancel()" >Cancel</a>
            <a class="btn btn-danger btn-sm pull-right m-l-10" type="submit" ng-click="vm.openDelete($event, vm.contact)" ng-if="vm.userInfo.priority.legalfirm.delete && !vm.create_new && !vm.viewMode">Delete</a>
            <a class="btn btn-primary btn-sm pull-right m-l-10" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.legalfirm.update && vm.can_edit">Save</a>
            <a class="btn bgm-cyan btn-sm pull-right" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.legalfirm.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
          </div>
        </div>
        <div class="col-md-10" ng-if="vm.viewMode">
          <div class="m-t-30">
            <a class="btn btn-default btn-sm pull-right m-l-10" ng-click="vm.cancel()" >Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>     
</div>
