<div class="container">
  <div class="block-header">
    <h2>home / matter codes</h2>
  </div>  
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-8">
          <h2>Matter Code List</h2>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive table-div p-15" ng-if="vm.dataReady" > 
        <table ng-table="vm.tableFilter" class="table table-striped table-vmiddle table-list" show-filter="true">
          <tr ng-repeat="w in $data">
            <td data-title="'Code'" filter="{ 'code': 'text' }" sortable="'code'">
              {{ w.code }}
            </td>
            <td data-title="'Description'" filter="{ 'description': 'text' }" sortable="'description'">
              {{ w.description }}
            </td>
            <td data-title="'Category'" filter="{ 'category': 'text' }" sortable="'category'">
              {{ w.category }}
            </td>
            <td data-title="'Department'" filter="{ 'department': 'text' }" sortable="'department'">
              {{ w.department }}
            </td>
            <td data-title="'Form Name'" filter="{ 'formName': 'text' }" sortable="'formName'">
              {{ w.formName }}
            </td>
            <td data-title="'Group Name 1'" filter="{ 'groupName1': 'text' }" sortable="'groupName1'">
              {{ w.groupName1 }}
            </td>
            <td data-title="'Group Name 2'" filter="{ 'groupName2': 'text' }" sortable="'groupName2'">
              {{ w.groupName2 }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
