<div ng-class="vm.isDialog ? '' : 'container'">
  <p id="back-top" style="display: none;">
    <a ng-click="vm.scrollUp()"><span class="glyphicon glyphicon-chevron-up"></span> TOP</a>
  </p>
  <div class="card">
    <div class="card-header">
      <div class="row">
      <div class="col-md-11 col-sm-12">
        <h2 class="f-20 f-500 c-purple" style="display: inline;">Edit Property</h2>
        <a class="btn btn-link btn-sm pull-right m-l-5" ng-click="vm.cancel()" >Cancel</a>
        <a class="btn btn-danger btn-sm pull-right m-l-5" type="submit" ng-click="vm.openDelete($event, vm.property)" ng-if="vm.userInfo.priority.property.delete && !vm.create_new && !vm.viewMode">Delete</a>
        <a class="btn btn-primary btn-sm pull-right m-l-5" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.property.update && vm.can_edit">Save</a>
        <a class="btn bgm-cyan btn-sm pull-right m-l-5" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.property.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
        <a class="btn bgm-green btn-sm pull-right m-l-5" type="submit" ng-click="vm.copy()" ng-if="vm.userInfo.priority.property.update && !vm.create_new && !vm.viewMode"><i class="zmdi zmdi-copy"></i>&nbsp;&nbsp;Duplicate</a>
        <a class="btn bgm-cyan btn-sm pull-right" type="submit" ng-click="vm.new_()" ng-if="vm.userInfo.priority.property.update && !vm.create_new && !vm.viewMode"><i class="zmdi zmdi-plus"></i>&nbsp;&nbsp;New</a>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-12 col-md-10 p-l-10" ng-if="!vm.create_new">
        <md-button class="btn-sm md-raised md-warn" style="min-height: 0;margin: 6px 3px;" ng-click="vm.relatedMatter()">Matters</md-button>
        <md-button class="btn-sm md-raised md-warn" style="min-height: 0;margin: 6px 3px;" ng-click="vm.openFolder()">Folder</md-button>
        <md-button class="btn-sm md-raised md-warn" style="min-height: 0;margin: 6px 3px;" ng-click="vm.upload()">Upload</md-button>
      </div>
      </div>
    </div>

    <div class="card-body card-padding">
      <div class="clearfix"></div>
      <h4>Property Type</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <div class="row m-b-10">            
            <div class="radio col-sm-3">
              <label>
                <input type="radio" name="propertyType" value="0" ng-model="vm.property.propertyType.code">
                <i class="input-helper"></i>
                Landed
              </label>
            </div>
            <div class="radio col-sm-3">
              <label>
                Or
              </label>
            </div>
            <div class="radio col-sm-5">
              <label>
                <input type="radio" name="propertyType" value="1" ng-model="vm.property.propertyType.code">
                <i class="input-helper"></i>
                Strata
              </label>
            </div>
          </div>
          <dl class="dl-horizontal">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="vm.property.titleIssued">
                <i class="input-helper"></i>
                Individual Title / Strata Title
              </label>
            </div>
          </dl>
        </div>
      </div>
      <h4>Title Details</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">ID</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.propertyID">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Title Type</dt>
            <dd>
              <select class="form-control" ng-model="vm.property.title.type">
                <option ng-repeat="item in vm.types['TitleType']" ng-value="item" ng-selected="vm.property.title.type == item">
                  {{ item }}
                </option>
              </select>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Title No.</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.title.value">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Lot Type</dt>
            <dd>
              <select class="form-control" ng-model="vm.property.lotPT.type">
                <option ng-repeat="item in vm.types['LotType']" ng-value="item" ng-selected="vm.property.lotPT.type == item">
                  {{ item }}
                </option>
              </select>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Lot No.</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.lotPT.value">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="">
              <select class="form-control" ng-model="vm.property.mukim.type">
                <option ng-repeat="item in vm.types['MukimType']" ng-value="item" ng-selected="vm.property.mukim.type == item">
                  {{ item }}
                </option>
              </select>
            </dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.mukim.value" placeholder="Select mukim">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">District</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.daerah">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">State</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.negeri">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Area</dt>
            <dd>
              <input type='text' ng-readonly="!vm.can_edit" class="form-control half-width" ng-model="vm.property.area.value">
              <select class="form-control half-width" ng-model="vm.property.area.type">
                <option ng-repeat="item in vm.types['AreaType']" ng-value="item" ng-selected="vm.property.area.type == item">
                  {{ item }}
                </option>
              </select>              
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Tenure</dt>
            <dd>
              <select class="form-control" ng-model="vm.property.tenure">
                <option ng-repeat="item in vm.types['TenureType']" ng-value="item" ng-selected="vm.property.tenure == item">
                  {{ item }}
                </option>
              </select>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Lease Expirey Date</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.accBuildingNo">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Title Registration Date</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.leaseExpiryDate">
              </div>
            </dd>
          </dl>
          <div class="row m-b-10">            
            <div class="checkbox col-sm-6">
              <label>
                <input type="checkbox" name="sample" value="">
                <i class="input-helper"></i>
                Bumi Lot
              </label>
            </div>
            <div class="checkbox col-sm-6">
              <label>
                <input type="checkbox" name="sample" value="">
                <i class="input-helper"></i>
                Malay Reserve Land
              </label>
            </div>
          </div>
          <dl class="dl-horizontal">
            <div class="checkbox">
              <label>
                Restriction in Interest
                <input type="checkbox" ng-model="vm.property.restrictionInInterest">
                <i class="input-helper"></i>
              </label>
            </div>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Restriction Against</dt>
            <dd>
              <select class="form-control" ng-model="vm.property.restrictionAgainst">
                <option ng-repeat="item in vm.types['RestrictionAgainst']" ng-value="item" ng-selected="vm.property.restrictionAgainst == item">
                  {{ item }}
                </option>
              </select>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Approving Authority</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.approvingAuthority">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Other Restriction</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.otherRestriction">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Category of Land Use</dt>
            <dd>
              <select class="form-control" ng-model="vm.property.landUse">
                <option ng-repeat="item in vm.types['LandUse']" ng-value="item" ng-selected="vm.property.landUse == item">
                  {{ item }}
                </option>
              </select>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Express Condition</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.expressCondition">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Building / Cultivation Type</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.culType">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Age of Building / Trees</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.ageBuilding">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Postal Address</dt>
            <dd>
              <div class="fg-line">
                <textarea class="form-control p-l-10" ng-readonly="!vm.can_edit" rows="8" ng-model="vm.property.address" placeholder="type here...."></textarea>
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Assessment Rate (Half Year)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.assessRate">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Annual Quit Rent (1 Year)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.annualRent">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Previous Title</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.previousTitle">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <h4 class="m-t-25">Strata Title Details</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Parcel No.</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.parcelNo">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Storey No.</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.storeyNo">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Building No.</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.buildingNo">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Accessory Parcel No.</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.property.accParcelNo" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>

            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Accessory Storey No.</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.accStoreyNo">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Accessory Building No.</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.property.accBuildingNo" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Units of Shares</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.unitShare">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Total Shares</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.totalShare">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Floor Area</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.property.floorArea" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <h4 class="m-t-25">Details of Unit / Parcel (as per Principal SPA)</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="">
              <select class="form-control" ng-model="vm.property.spaParcel.type">
                <option ng-repeat="item in vm.types['ParcelType']" ng-value="item" ng-selected="vm.property.spaParcel.type == item">
                  {{ item }}
                </option>
              </select>
            </dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.spaParcel.value">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Storey No.</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.spaStoreyNo">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Building / Block No.</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.spaBuildingNo">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Apt / Condo Name</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.spaCondoName">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Accessory Parcel No.</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.spaAccParcelNo">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Building Type</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.property.spaBuildingType" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Unit Area</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.property.spaUnitArea" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <h4 class="m-t-25">Project</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Project Code (optional)</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.property.project.code" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Project Name</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.property.project.name" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Developer</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.property.project.developer.name" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Proprietor</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.property.project.proprietor.name" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Block / Master Title</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.property.project.masterTitle" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">        
          <dl class="dl-horizontal">
            <dt class="p-t-10">Multiple Master Titles</dt>
            <dd>
              <div class="fg-line">
                <textarea class="form-control p-l-10" ng-readonly="!vm.can_edit" rows="8" ng-model="vm.property.strNote" placeholder="type here...."></textarea>
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="vm.property.restrictionInInterest">
                <i class="input-helper"></i>
                Restriction in Interest
              </label>
            </div>
          </dl>
        </div>
      </div>
      <h4 class="m-t-25" ng-click="vm.ownership=!vm.ownership">Ownership / Encumbrace&nbsp;&nbsp;&nbsp;&nbsp;<i class="zmdi zmdi-plus" ng-if="!vm.ownership"></i><i class="zmdi zmdi-minus" ng-if="vm.ownership"></i></h4>
      <div class="row" ng-show="vm.ownership">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Registered Owner</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.registeredOffice">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Master Chargee</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.registeredOffice">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Branch</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.registeredOffice">
              </div>
            </dd>
          </dl>
        </div>
      </div>      
      <h4 class="m-t-25" ng-click="vm.otherinfo=!vm.otherinfo">Other Information&nbsp;&nbsp;&nbsp;&nbsp;<i class="zmdi zmdi-plus" ng-if="!vm.otherinfo"></i><i class="zmdi zmdi-minus" ng-if="vm.otherinfo"></i></h4>
      <div class="row" ng-show="vm.otherinfo">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Note 1</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.registeredOffice">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Note 2</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.registeredOffice">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Remark</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.registeredOffice">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <h4 class="m-t-25" ng-click="vm.showMore=!vm.showMore">More Information&nbsp;&nbsp;&nbsp;&nbsp;<i class="zmdi zmdi-plus" ng-if="!vm.showMore"></i><i class="zmdi zmdi-minus" ng-if="vm.showMore"></i></h4>
      <div class="row" ng-show="vm.showMore">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Extra 1</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.registeredOffice">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Extra 2</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.registeredOffice">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Extra 3</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.registeredOffice">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Extra 4</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.registeredOffice">
              </div>
            </dd>
          </dl>
        </div>
      </div>      
      <h4 class="m-t-25">Remarks</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Remark</dt>
            <dd>
              <div class="fg-line">
                <textarea class="form-control p-l-10" ng-readonly="!vm.can_edit" rows="8" ng-model="vm.property.strNote" placeholder="type here...."></textarea>
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <h4 class="m-t-25">Office Use</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Entered by</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.registeredOffice">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Date</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.taxFileNo">
              </div>
            </dd>
          </dl>          
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Updated by</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.registeredOffice">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Date</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.property.taxFileNo">
              </div>
            </dd>
          </dl>          
        </div>
      </div>

      <div class="row">
        <div class="col-md-11 col-sm-12 no-padding">
          <div class="m-t-30 p-l-15">
            <md-button ng-if="!vm.create_new" class="btn-sm md-raised md-warn m-t-0" style="min-height: 0;margin: 6px 3px;" ng-click="vm.relatedMatter()">Matters</md-button>
            <md-button ng-if="!vm.create_new" class="btn-sm md-raised md-warn m-t-0" style="min-height: 0;margin: 6px 3px;" ng-click="vm.openFolder()">Folder</md-button>
            <md-button ng-if="!vm.create_new" class="btn-sm md-raised md-warn m-t-0" style="min-height: 0;margin: 6px 3px;" ng-click="vm.upload()">Upload</md-button>
            <input ng-if="!vm.create_new" type="file" class="hidden property-upload" multiple ng-model="file" base-sixty-four-input onload="vm.onLoad">
            <a class="btn btn-link btn-sm pull-right m-l-5" ng-click="vm.cancel()" >Cancel</a>
            <a class="btn btn-danger btn-sm pull-right m-l-5" type="submit" ng-click="vm.openDelete($event, vm.property)" ng-if="vm.userInfo.priority.property.delete && !vm.create_new && !vm.viewMode">Delete</a>
            <a class="btn btn-primary btn-sm pull-right m-l-5" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.property.update && vm.can_edit">Save</a>
            <a class="btn bgm-cyan btn-sm pull-right m-l-5" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.property.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
            <a class="btn bgm-green btn-sm pull-right m-l-5" type="submit" ng-click="vm.copy()" ng-if="vm.userInfo.priority.property.update && !vm.create_new && !vm.viewMode"><i class="zmdi zmdi-copy"></i>&nbsp;&nbsp;Duplicate</a>
            <a class="btn bgm-cyan btn-sm pull-right" type="submit" ng-click="vm.new_()" ng-if="vm.userInfo.priority.property.update && !vm.create_new && !vm.viewMode"><i class="zmdi zmdi-plus"></i>&nbsp;&nbsp;New</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h4 class="modal-title">Delete a property</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete the property?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link" ng-click="ok()">OK</button>
    <button class="btn btn-link" ng-click="cancel()">Cancel</button>
  </div>
</script>

