<div class="container">
    <div class="card">
        <div class="card-body card-padding">
            <h2>Form JSON</h2>
            <div class="form-group" style="border: 2px solid lightgrey;">
                <textarea class="form-control" rows="25" placeholder="Form JSON here..." ng-model="vm.textAreaModel"></textarea>
            </div>

            <h2>Preview</h2>
            <div style="border: 2px solid lightgrey; padding: 20px;">
              <form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
                <formly-form model="vm.model" fields="vm.fields" options="vm.options" form="vm.form">          
                </formly-form>
              </form>      

              <form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
                <uib-tabset>
                  <uib-tab ng-repeat="tab in vm.tabs"
                       heading="{{tab.label}}">
                    <div ng-repeat="group in tab.groups" class="col-md-6">    
                      <div class="group">
                        <div class="form-group">
                          <input id="{{group.key}}-label" name="{{group.key}}-label" class="form-control group-label" ng-model="vm.model[group.key+'-label']" ng-value="group.label" />
                        </div>
                      
                        <formly-form model="vm.model" fields="group.attrs" form="vm.form" options="group.options">
                        </formly-form>
                      </div>
                    </div>
                  </tab>
                </tabset>
<!--                 <button type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid">Submit</button>
                <button type="button" class="btn btn-default" ng-click="vm.resetAllForms()">Reset</button> -->
                
              </form>
              
              <h2>Form Data</h2>
              <pre>{{vm.model | json}}</pre>
            </div>
        </div>
    </div>
</div>    

<!-- Put custom templates here -->
<script type="text/ng-template" id="datepicker.html">
  <p class="input-group">
    <input  type="text"
            id="{{::id}}"
            name="{{::id}}"
            ng-model="model[options.key]"
            class="form-control"
            ng-click="datepicker.open($event)"
            is-open="datepicker.opened"
            datepicker-options="to.datepickerOptions" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="datepicker.open($event)" ng-disabled="to.disabled"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
  </p>
</script>

<!-- CONTACT GROUP -->
<script type="text/ng-template" id="contact.html">  
  <div class="form-group" ng-repeat="party in model[options.key]">
    <div style="display: flex;">
      <label for="{{::id}}_party_{{$index}}" class="form-control attr-label short-label">{{ $index+1 }}</label>
      <select class="form-control" id="{{::id}}_party_{{$index}}" ng-model="party.party" style="width:300px;">
        <option ng-repeat="item in contacts" ng-value="item.id">{{item.id}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.name}}</option>
      </select>
      <a class="btn btn-primary short-btn" target="_new" ui-sref="contacts.edit({id: party.party})"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
      <input id="{{::id}}_share_{{$index}}" name="{{::id}}_share_{{$index}}" class="form-control" ng-model="party.share" ng-if="to.share" style="width: 100px;padding-left: 10px;" placeholder="Share" />
      <a class="btn btn-danger short-btn" ng-click="removeParty($index)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
    </div>
  </div>
  <div style="margin-bottom: 30px;">
    <a class="btn btn-primary short-btn" style="margin-left: 50px;" ng-click="addParty()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    <a class="btn btn-primary short-btn" style="margin-left: 80px;" target="_new" data-ui-sref="contacts.edit">Add a new party</a>
  </div>
  <div class="form-group">
    <div style="display: flex;">
    <label class="form-control attr-label">Solicitor</label>
    <select class="form-control" ng-model="model[options.key+'_solicitor']" style="width:300px;">
      <option ng-repeat="item in legalFirms" ng-value="item">{{item.name}}</option>
    </select>
    <a class="btn btn-primary short-btn" target="_new" ui-sref="legal-firms.edit({id: model[options.key+'_solicitor'].id})"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
    </div>
  </div>
  <div class="form-group">
    <div style="display: flex;">
      <label class="form-control attr-label">Firm Tel / Fax / Email</label>
      <input type="text" class="form-control" readonly="true" ng-model="model[options.key+'_solicitor'].phoneHome" style="width:300px;">
    </div>
  </div>
  <div class="form-group">
    <div style="display: flex;">
      <label class="form-control attr-label">Firm Location</label>
      <input type="text" class="form-control" readonly="true" ng-model="model[options.key+'_solicitor'].address.fullAddress" style="width:300px;">
    </div>
  </div>
  <div class="form-group">
    <div style="display: flex;">
      <label class="form-control attr-label">Staff in Charge</label>
      <input type="text" class="form-control" ng-model="model[options.key+'_staff']" style="width:300px;">
    </div>
  </div>
  <div class="form-group">
    <div style="display: flex;">
      <label class="form-control attr-label">Solicitor Ref.</label>
      <input type="text" class="form-control" ng-model="model[options.key+'_solicitor_ref']" style="width:300px;">
    </div>
  </div>
</script>

<script type="text/ng-template" id="legalFirm.html">
  <div class="form-group">
    <div style="display: flex;">
    <input id="{{::id}}-label" name="{{::id}}-label" class="form-control attr-label" ng-model="model[options.key+'-label']" ng-value="options.templateOptions.label" />        
    <select class="form-control" ng-model="model[options.key]" style="width:300px;">
      <option ng-repeat="item in legalFirms" ng-value="item.id">{{item.name}}</option>
    </select>
    <a class="btn btn-primary short-btn"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
    </div>
  </div>
  <div class="clear-fix"></div> 
</script>

<script type="text/ng-template" id="text.html">
  <div class="form-group">
    <div style="display: flex;">
      <input id="{{::id}}-label" name="{{::id}}-label" class="form-control attr-label" ng-model="model[options.key+'-label']" ng-value="options.templateOptions.label" />        
      <input type="text" class="form-control" ng-model="model[options.key]" style="width:300px;">
    </div>
  </div>
</script>

<script type="text/ng-template" id="price_w_currency.html">
  <div class="form-group">
    <input id="{{::id}}-label" name="{{::id}}-label" class="form-control attr-label col-sm-1" ng-model="model[options.key+'-label']" ng-value="options.templateOptions.label" />
    <div style="display: flex;">
    <select class="form-control col-sm-2" ng-model="model[options.key+'-currency']" style="width:60px;">
      <option value="USD">USD</option>
      <option value="RM">RM</option>
      <option value="RMB">RMB</option>
    </select>
    <input id="{{::id}}" name="{{::id}}" class="col-sm-6" ng-model="model[options.key]" />
    </div>
  </div>
</script>

<script type="text/ng-template" id="group_label.html">
  <div class="form-group">
    <input id="{{::id}}" name="{{::id}}" class="form-control group-label" ng-model="model[options.key]" />
  </div>
</script>

<script type="text/ng-template" id="example-directive.html">
  <div class="form-group">
    <label for="{{::id}}">{{options.templateOptions.label}}</label>
    <input id="{{::id}}" name="{{::id}}" class="form-control" ng-model="model[options.key]" />
  </div>
</script>    

