<div class="container">

  <div class="block-header">
    <h2>home / mukims</h2>
  </div>

  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-8">
          <h2 class="f-20 f-500 c-purple">Mukim List</h2>
        </div>
        <div class="col-sm-4">
          <a ui-sref="mukims.new" class="btn bgm-cyan pull-right"><i class="zmdi zmdi-plus"></i>&nbsp;&nbsp;New Mukim</a>
        </div>
      </div>
    </div>    
        
    <div class="card-body">
      <div class="table-responsive" ng-if="vm.dataReady" > 
        <table ng-table="vm.tableFilter" class="table table-striped table-vmiddle" show-filter="true">
          <tr ng-repeat="w in $data">
            <td data-title="'Mukim'" filter="{ 'mukim': 'text' }" sortable="'mukim'">
              {{ w.mukim }}
            </td>
            <td data-title="'District'" filter="{ 'district': 'text' }" sortable="'district'">
              {{ w.district }}
            </td>
            <td data-title="'State'" filter="{ 'state': 'text' }" sortable="'state'">
              {{ w.state }}
            </td>            
            <td data-title="'Actions'">
              <a class="btn btn-primary" ng-if="!w.$edit"  ui-sref="mukims.edit({id:w.id})"><i class="zmdi zmdi-edit"></i></a>
              <a class="btn btn-warning" ng-click="vm.openDelete(w)"><i class="zmdi zmdi-delete"></i></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h4 class="modal-title">Delete a mukim</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete the mukim?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link" ng-click="ok()">OK</button>
    <button class="btn btn-link" ng-click="cancel()">Cancel</button>
  </div>
</script>


