<div class="container">
  <div class="card">
    <div class="card-body card-padding">
      <div class="clearfix"></div>
      <h4 class="m-t-25">Note Information</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">File No</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.note.strFileNo" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <div class="date-picker" ng-class="{ 'is-opened': opened == true }">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Date</dt>
            <dd>
              <div class="fg-line">
                <input ng-click="open($event, 'opened')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="vm.note.dtDate" is-open="opened" min-date="'1900-1-1'" datepicker-options="dateOptions" ng-disabled="!vm.can_edit" ng-required="true" close-text="Close" placeholder="Select Date" />
              </div>
            </dd>
          </dl>
          </div>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Note</dt>
            <dd>
              <div class="fg-line">
                <textarea class="form-control p-l-10" ng-readonly="!vm.can_edit" rows="8" ng-model="vm.note.strNote" placeholder="notes here...."></textarea>
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <div class="clearfix"></div>
      
      <div class="row">   
        <div class="col-md-6 no-padding">
          <div class="m-t-30">
            <a class="btn btn-link btn-sm pull-right m-l-10" ng-click="vm.cancel()" >Cancel</a>
            <a class="btn btn-danger btn-sm pull-right m-l-10" type="submit" ng-click="vm.openDelete($event, vm.contact)" ng-if="vm.userInfo.priority.note.delete">Delete</a>
            <a class="btn btn-primary btn-sm pull-right m-l-10" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.note.update && vm.can_edit">Save</a>
            <a class="btn bgm-cyan btn-sm pull-right" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.note.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>
