<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-12">
          <span class="d-header">{{ vm.title }}</span>
          <ul class="actions matter-action m-l-20" data-ng-include src="'matter-action.html'"></ul>

          <div class="clearfix"></div>
          <span class="c-purple f-500 f-18">{{ vm.fileNo }} ( {{ vm.fileName }} )</span>
        </div>
      </div>
    </div>
    <div class="card-body card-padding">
      <div class="row">
        <div class="col-md-8 col-lg-7 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Date</dt>
            <dd>
              <div class="fg-line">
                <input type="text" class="form-control" value="{{ vm.note.dtDate | date : 'dd-MM-yyyy' }}" ng-disabled="true" ng-required="true" />
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Note</dt>
            <dd>
              <div class="fg-line">
                <textarea class="form-control p-l-10" ng-readonly="!vm.can_edit" rows="8" ng-model="vm.note.strNote" placeholder="type here...."></textarea>
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Made by</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.userInfo.name" ng-readonly="true" type="text" class="form-control">
              </div>
            </dd>
          </dl>          
        </div>
      </div>
      <div class="clearfix"></div>
      
      <div class="row">   
        <div class="col-md-6 no-padding">
          <div class="m-t-30">
            <a class="btn btn-link btn-sm pull-right m-l-10" ng-click="vm.cancel()" >Cancel</a>
            <a class="btn btn-danger btn-sm pull-right m-l-10" type="submit" ng-click="vm.openDelete($event, vm.contact)" ng-if="vm.userInfo.priority.note.delete">Delete</a>
            <a class="btn btn-primary btn-sm pull-right m-l-10" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.note.update && vm.can_edit">Save</a>
            <a class="btn bgm-cyan btn-sm pull-right" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.note.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>
