<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          <h2 class="c-purple f-500 f-20 m-b-15">PAYMENT RECORDS</h2>
          <span class="c-purple f-500 f-18">{{ vm.title }}</span>
          <a class="btn btn-info btn-header"><i class="zmdi zmdi-plus"></i></a>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
      <div class="col-lg-6 col-md-8">
        <div class="table-responsive table-div p-15 f-14"> 
          <table ng-table="vm.tableFilter" class="table table-striped table-vmiddle table-list">
            <tr class="ng-table-group" ng-repeat-start="group in $groups">
              <td colspan="3">
                <a href="" ng-click="group.$hideRows = !group.$hideRows">                  
                  <strong ng-if="group.value!=' '">&nbsp;</strong>
                </a>
              </td>
            </tr>
            <tr ng-hide="group.$hideRows" ng-repeat="file in group.data" ng-repeat-end>
              <td data-title="'Date Paid'" class="ng-table-fixed-column-40">
                {{ file.strDescription }}
              </td>
              <td data-title="'Paid to'" class="ng-table-fixed-column-50">
                {{file.strPaidTo}}
              </td>
              <td data-title="'Amount'" class="ng-table-fixed-column-30">
                {{file.strValue}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
