<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          <span class="d-header">PAYMENT RECORDS</span>
          <ul class="actions matter-action m-l-20" data-ng-include src="'matter-action.html'"></ul>

          <div class="clearfix"></div>
          <span class="c-purple f-500 f-18">{{ vm.title }}</span>
          <a class="btn btn-info btn-header" ui-sref="payment-records.new({ fileNo: vm.fileNo, fileName: vm.fileName })"><i class="zmdi zmdi-plus"></i></a>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
      <div class="col-md-8 lg-6">
        <div class="table-responsive table-div p-15 f-14"> 
          <table ng-table="vm.tableFilter" class="table table-vmiddle table-list">
            <tr class="ng-table-group" ng-repeat-start="group in $groups" ng-if="group.value!=' '">
              <td colspan="3"><a href=""><strong>&nbsp;</strong></a></td>
            </tr>
            <tr ng-repeat="file in group.data" ng-repeat-end ui-sref="payment-records.edit({ fileNo: vm.fileNo, fileName: vm.fileName, id:file.code })">
              <td data-title="'Date Paid'" class="ng-table-fixed-column-40" ng-class="{'f-700': group.value == '  '}">
                {{ file.strDescription }}
              </td>
              <td data-title="'Paid to'" class="ng-table-fixed-column-50">
                {{file.strPaidTo}}
              </td>
              <td data-title="'Amount'" class="ng-table-fixed-column-30 text-right" ng-class="{'f-700': group.value == '  '}">
                {{file.strValue}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
