<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          <span class="d-header">PAYMENT RECORDS</span>
          <ul class="actions matter-action m-l-20">
            <li class="dropdown" uib-dropdown>
              <a href="" uib-dropdown-toggle>
                <i class="zmdi zmdi-more"></i>
              </a>

              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <a ui-sref="folders.list({ id: vm.fileNo, type: 'matter' })">FOLDER</a>
                </li>
                <li>
                  <a ui-sref="accounts.list({ fileNo: vm.fileNo, fileName: vm.fileName })">ACCOUNTS</a>
                </li>
                <li>
                  <a ui-sref="notes.list({ fileNo: vm.fileNo, fileName: vm.fileName })">NOTES</a>
                </li>
                <li>
                  <a ui-sref="file-matters.edit({ fileNo: vm.fileNo, tab: 'template' })">TEMPLATES</a>
                </li>
                <li>
                  <a ui-sref="courtdiary({ keyword: vm.fileNo })">CALENDAR</a>
                </li>
                <li>
                  <a href="">CHECKLIST</a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="clearfix"></div>
          <span class="c-purple f-500 f-18">{{ vm.title }}</span>
          <a class="btn btn-info btn-header"><i class="zmdi zmdi-plus"></i></a>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
      <div class="col-lg-6 col-md-8">
        <div class="table-responsive table-div p-15 f-14"> 
          <table ng-table="vm.tableFilter" class="table table-vmiddle table-list">
            <tr class="ng-table-group" ng-repeat-start="group in $groups">
              <td colspan="3">
                <a href="" ng-click="group.$hideRows = !group.$hideRows">                  
                  <strong ng-if="group.value!=' '">&nbsp;</strong>
                </a>
              </td>
            </tr>
            <tr ng-hide="group.$hideRows" ng-repeat="file in group.data" ng-repeat-end>
              <td data-title="'Date Paid'" class="ng-table-fixed-column-40">
                {{ file.strDescription }}
              </td>
              <td data-title="'Paid to'" class="ng-table-fixed-column-50">
                {{file.strPaidTo}}
              </td>
              <td data-title="'Amount'" class="ng-table-fixed-column-30">
                {{file.strValue}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
