<div ng-class="vm.isDialog ? '' : 'container'">

  <div class="card">
    <div class="card-header">
      <span class="d-header">{{ vm.title }}</span>
    </div>
        
    <div class="card-body card-padding">
      <h4>PRESET BILL INFORMATION</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Item Code</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.entity.code">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Description</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.entity.strDescription">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">State</dt>
            <dd>
              <div class="fg-line">
                <div class="select">
                  <select class="form-control" ng-model="vm.entity.strState">
                    <option ng-repeat="v in vm.states">{{ v.strDescription }}</option>
                  </select>
                </div>
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Category</dt>
            <dd>
              <div class="fg-line">
                <div class="select">
                  <select class="form-control" ng-model="vm.entity.strCategory" ng-options="v for v in vm.categories">
                  </select>
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>
 
      <h4 class="m-t-25">BILL ITEMS</h4>
      <div class="row">
        <div class="col-md-8 p-l-30 m-t-15">
          <div class="item-type" ng-class="{ 'active': vm.itemType=='All' }" ng-click="vm.filterItem('All')">ALL ( <small>$342.89</small> )</div>
          <div class="item-type" ng-class="{ 'active': vm.itemType=='Fees' }" ng-click="vm.filterItem('Fees')">FEE ( <small>$342.89</small> )</div>
          <div class="item-type" ng-class="{ 'active': vm.itemType=='Disb' }" ng-click="vm.filterItem('Disb')">DISB ( <small>$342.89</small> )</div>
          <div class="item-type" ng-class="{ 'active': vm.itemType=='DisbWithTax' }" ng-click="vm.filterItem('DisbWithTax')">GST ( <small>$342.89</small> )</div>
        </div>
        <div class="col-md-8">
          <div class="table-responsive table-div p-15"> 
            <table ng-table="vm.tableFilter" class="table table-striped table-vmiddle">
              <tr ng-repeat="w in $data">
                <td data-title="'Item Code'">
                  {{ w.strItemCode }}
                </td>
                <td data-title="'Description'">
                  {{ w.strDescription }}
                </td>
                <td data-title="'Formula'" class="p-0">
                  <div class="checkbox m-5">
                    <label>
                      <input type="checkbox" ng-checked="w.boolIsFormula=='1'" readonly>
                      <i class="input-helper"></i>
                    </label>
                  </div>
                </td>
                <td data-title="'Unit'" class="text-right">
                  {{ w.decUnit }}
                </td>
                <td data-title="'Unit Price'" class="text-right">
                  {{ w.decUnitPrice | number:2 }}
                </td>
                <td data-title="'Charges'" class="text-right">
                  {{ w.decUnitCost }}
                </td>
                <td data-title="'Tax Code'">
                  {{ w.strTaxCode }}
                </td>
                <td data-title="'GST (%)'">
                  {{ w.decTaxRate * 100 | number:2 }}
                </td>
                <td data-title="''" class="p-5">
                  <button class="btn btn-default btn-sm" title="Rename" ng-click="vm.renameDoc(file)" style="padding: 4px 9px;">
                    <i class="zmdi zmdi-chevron-up"></i>
                  </button>
                  <button class="btn btn-default btn-sm m-l-5" title="Download" ng-click="vm.download(file)" style="padding: 4px 9px;">
                    <i class="zmdi zmdi-chevron-down"></i>
                  </button>
                  <button class="btn btn-default btn-sm m-l-5" title="Download" ng-click="vm.download(file)" style="padding: 4px 9px;">
                    <i class="zmdi zmdi-plus"></i>
                  </button>
                  <button class="btn btn-default btn-sm m-l-5" title="Download" ng-click="vm.download(file)" style="padding: 4px 9px;">
                    <i class="zmdi zmdi-close"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <h4 class="m-t-25">REMARK</h4>
      <div class="row">
        <div class="col-md-10 p-l-25">
          <dl class="dl-horizontal">
            <dd>
              <div class="fg-line">
                <textarea class="form-control" rows="5" ng-model="vm.entity.strRemarks"></textarea>
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <div class="clearfix"></div>
      <h4 class="m-t-25 m-b-15">Office Use</h4>
      <div class="row" data-ng-include src="'office-use.html'"></div>

      <div class="row">
        <div class="col-md-10" ng-if="!vm.viewMode">
          <div class="m-t-30">
            <a class="btn btn-link btn-sm pull-right m-l-10" ui-sref="billing.presetbills-list" >Cancel</a>
            <a class="btn btn-primary btn-sm pull-right" type="submit" ng-click="vm.save()">Save</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
