<div class="container">

    <div class="block-header">
        <h2>{{ pctrl.profile.name }} <small>{{ pctrl.profile.position }}</small></h2>

        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Privacy Settings</a>
                    </li>
                    <li>
                        <a href="">Account Settings</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card" id="profile-main">
        <div class="pm-overview c-overflow">
           

            <div class="pmo-block pmo-contact hidden-xs">
                <h2>Contact</h2>

                <ul>
                    <li><i class="zmdi zmdi-phone"></i> {{ pctrl.profile.phone1 }}</li>
                    <li><i class="zmdi zmdi-email"></i> {{ pctrl.profile.email }}</li>
                    <li><i class="zmdi zmdi-facebook-box"></i> {{ pctrl.profile.ID }}</li>
                    <li><i class="zmdi zmdi-twitter"></i> {{ pctrl.twitter }} (twitter.com/jason)</li>
                    <li>
                        <i class="zmdi zmdi-pin"></i>
                        <address class="m-b-0">
                            {{ pctrl.profile.address1 }}, <br/>
                            {{ pctrl.profile.city }}, <br/>
                            {{ pctrl.profile.country }}
                        </address>
                    </li>
                </ul>
            </div>
        </div>

        <div class="pm-body clearfix">
            <ul class="tab-nav tn-justified" data-ng-include="'template/profile-menu.html'"></ul>

            <data ui-view></data>
        </div>
    </div>
</div>
