<div ng-class="vm.isDialog ? '' : 'container'">

    <div class="card">
        <div class="card-header">
            <h2 ng-if="!vm.viewMode">Quotation Edit</h2>
            <h2 ng-if="vm.viewMode">Quotation Detail</h2>
        </div>
                
        <div class="card-body card-padding">
            <div class="clearfix"></div>

            <h4>Basic Information</h4>
            <div class="row">
                <div class="col-md-6 p-l-25">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Quotation No</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.contact.idType.code" placeholder="New IC">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">File No</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.contact.IDNo" placeholder="UA203453">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">File Name</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.contact.old_ic" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Quotation To</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.contact.name" type="text" class="form-control" placeholder="eg. Mallinda Hollaway">
                            </div>

                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Quotation Matter</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.contact.title" placeholder="Mr.
                                ">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">State</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.contact.citizenship" placeholder="">
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6 p-l-25">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Reference No</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.contact.marital_status" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Preset Code</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.contact.num_children" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Quotation Date</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.contact.occupation" type="text" class="form-control" placeholder="">
                            </div>

                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Property</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.contact.taxFileNo" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Property Count</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.contact.IRD_branch" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Adjusted Value</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.contact.customer_type" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Purchase Price</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.contact.government_department" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Loan Amount</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.contact.government_department" placeholder="">
                            </div>
                        </dd>
                    </dl>                
                </div>                
            </div>

            <div class="clearfix"></div>

            <h4 class="m-t-25">Quotation Analysis</h4>
            <div class="row">
                <div class="col-md-11 p-l-25">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Professional Fees</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.contact.address.line1" type="text" class="form-control" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Disb. with GST</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.contact.address.line2" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Disbursement</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.contact.address.line3" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Total</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.contact.address.postcode" type="text" class="form-control" placeholder="">
                            </div>

                        </dd>
                    </dl>                    
                </div>
                            
            </div>            
            <div class="clearfix"></div>
            <h4 class="m-t-25" ng-click="vm.showRemark=!vm.showRemark">Remark&nbsp;&nbsp;&nbsp;&nbsp;<i class="zmdi zmdi-plus" ng-if="!vm.showRemark"></i><i class="zmdi zmdi-minus" ng-if="vm.showRemark"></i></h4>
            <div class="row" ng-show="vm.showRemark">
                <div class="col-md-10 p-l-25">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Remark</dt>
                        <dd>
                            <div class="fg-line">
                                <textarea class="form-control" rows="5" placeholder=""></textarea>
                            </div>
                        </dd>
                    </dl>
                </div>                
            </div>   
     
            <div class="row">     
                <div class="col-md-10" ng-if="!vm.viewMode">
                    <div class="m-t-30">
                        <a class="btn btn-link btn-sm pull-right m-l-10" ng-click="vm.cancel()" >Cancel</a>
                        <a class="btn btn-primary btn-sm pull-right m-l-10" type="submit" ng-click="vm.save()">Save</a>
                        <a class="btn btn-primary btn-sm pull-right" type="submit" ng-click="vm.save()">Convert Tax Invoice</a>
                    </div>        
                </div>
                <div class="col-md-10" ng-if="vm.viewMode">
                    <div class="m-t-30">
                        <a class="btn btn-default btn-sm pull-right m-l-10" ng-click="vm.cancel()" >Close</a>
                    </div>        
                </div>
            </div>
        </div>
    </div>
         
</div>


