<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
  <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
  <section id="content">
    <div class="container">
      <md-card ng-if="mactrl.searchRes.length">
      <md-list flex>
      <div ng-repeat="item in mactrl.searchRes">   
        <md-list-item class="md-3-line" ng-click="mactrl.navItem(item)" ng-if="item.parseJSON!=''" style="padding: 10px;">
          <!-- <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" /> -->
          <div class="md-list-item-text" layout="column">
          <h3 style="color: purple; font-size: 24px; font-weight: 500; margin: 10px 0;">{{ item.Title }}</h3>
          <p ng-repeat="entry in item.parseJSON" ng-if="entry.value!=''">
            {{entry.label}}: {{entry.value}}
          </p>
          <section layout="row" layout-sm="column" layout-align="start center" layout-wrap ng-if="item.Title.indexOf('Contact')==0" style="margin-left: -8px;">
            <md-button class="md-raised md-warn" ng-click="mactrl.contactMatter(item)">Matters</md-button>
            <md-button class="md-raised md-warn" ng-click="mactrl.openFolder(item)">Folder</md-button>
            <md-button class="md-raised md-warn" ng-click="mactrl.upload(item, 'contact')">Upload</md-button>
            <input type="file" class="hidden" ng-class="'contact-upload-'+item.key" multiple ng-model="file" base-sixty-four-input onload="mactrl.onLoad">
          </section>
          <section layout="row" layout-sm="column" layout-align="start center" layout-wrap ng-if="item.Title.indexOf('File No')==0" style="margin-left: -8px;">
            <md-button class="md-raised md-warn" ng-click="mactrl.openFolder(item)">Folder</md-button>
            <md-button class="md-raised md-warn" ng-click="mactrl.accounts(item)">Accounts</md-button>
            <md-button class="md-raised md-warn" ng-click="mactrl.notes(item)">Notes</md-button>
            <md-button class="md-raised md-warn" ng-click="mactrl.payments(item)">Payments</md-button>
            <md-button class="md-raised md-warn">Templates</md-button>
            <md-button class="md-raised md-warn" ng-click="mactrl.upload(item, 'matter')">Upload</md-button>
            <input type="file" class="hidden" ng-class="'matter-upload-'+item.key" multiple ng-model="file" base-sixty-four-input onload="mactrl.onLoad">
            <md-button class="md-raised md-warn">Calendar</md-button>
            <md-button class="md-raised md-warn">Check List</md-button>
            <md-button class="md-raised md-warn">File Tasks</md-button>
          </section>
          </div>
        </md-list-item>
        <md-divider ng-if="!$last"></md-divider>
      </div>
      </md-list>
      </md-card>
    </div>
  </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
