<div class="container">
  <div class="card">
    <div class="card-body" id="profile-main">
      <div class="row">
        <div class="col-md-4">
          <div class="pmb-block">
            <div class="pmbb-header">
              <span class="d-header">ACCOUNTS</span>
              <ul class="actions matter-action m-l-20" data-ng-include src="'matter-action.html'"></ul>
            </div>
            <div class="pmbb-body p-l-20">
              <div class="pmbb-view">
                <dl class="dl-horizontal">
                    <dt>Matter No</dt>
                    <dd>{{ vm.fileNo }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Client</dt>
                    <dd>{{ vm.fileName }}</dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="pmb-block">
            <div class="pmbb-header">
                <h2 class="c-purple f-500">Ledger Summary</h2>
            </div>
            <div class="pmbb-body p-l-20">
              <div class="pmbb-view">
                <dl class="dl-horizontal" ng-click="vm.ledger_level2('client')">
                    <dt>Client</dt>
                    <dd class="text-right">{{ vm.summary[0].currentBalance }}</dd>
                </dl>
                <dl class="dl-horizontal" ng-click="vm.ledger_level2('disb')">
                    <dt>Disbursement</dt>
                    <dd class="text-right">{{ vm.summary[1].currentBalance }}</dd>
                </dl>
                <dl class="dl-horizontal" ng-click="vm.ledger_level2('fd')">
                    <dt>FD Contorl</dt>
                    <dd class="text-right">{{ vm.summary[2].currentBalance }}</dd>
                </dl>
                <dl class="dl-horizontal" ng-click="vm.ledger_level2('advance')">
                    <dt>Advance</dt>
                    <dd class="text-right">{{ vm.summary[3].currentBalance }}</dd>
                </dl>
                <dl class="dl-horizontal" ng-click="vm.ledger_level2('other')">
                    <dt>Other</dt>
                    <dd class="text-right">{{ vm.summary[4].currentBalance }}</dd>
                </dl>
                <dl class="dl-horizontal" ng-click="vm.ledger_level2('recv')">
                    <dt>Receivables</dt>
                    <dd class="text-right">{{ vm.summary[5].currentBalance }}</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="col-md-9">
            <div class="pmb-block m-b-0">
              <div class="pmbb-header">
                  <h2 class="c-purple f-500" style="display: inline-block;">Quotations</h2>
                  <button class="btn btn-default bgm-purple f-15" title="Upload files" ng-click="vm.upload()" style="margin-left: 115px;"><i class="zmdi zmdi-plus"></i></button>
              </div>
              <div class="pmbb-body">
                <div class="table-responsive table-div no-pager"> 
                  <table ng-table="vm.quotationTable" class="table table-vmiddle">
                    <tr ng-repeat="w in $data" ui-sref="billing.quotations-edit({id: w.documentNo})">
                      <td data-title="'Date'">
                        {{ w.issueDate|ddate }}
                      </td>
                      <td data-title="'No'">
                        {{ w.documentNo }}
                      </td>
                      <td data-title="'To'">
                        {{ w.issueToName }}
                      </td>
                      <td data-title="'Amount'" class="text-right">
                        {{ w.amount }}
                      </td>
                    </tr>
                    <tr ng-if="$data.length==0">
                      <td colspan="12">No record</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-11">
            <div class="pmb-block m-b-0">
              <div class="pmbb-header">
                  <h2 class="c-purple f-500" style="display: inline-block;">Invoices</h2>
                  <button class="btn btn-default bgm-purple f-15" title="Upload files" ng-click="vm.upload()" style="margin-left: 140px;"><i class="zmdi zmdi-plus"></i></button>
              </div>
              <div class="pmbb-body">
                <div class="table-responsive table-div no-pager"> 
                  <table ng-table="vm.invoiceTable" class="table table-vmiddle">
                    <tr ng-repeat="w in $data" ui-sref="billing.invoices-edit({id: w.invoiceNo})">
                      <td data-title="'Date'">
                        {{ w.invoiceDate|ddate }}
                      </td>
                      <td data-title="'No'" class="ng-table-fixed-column-20">
                        {{ w.invoiceNo }}
                      </td>
                      <td data-title="'To'" class="ng-table-fixed-column-20">
                        {{ w.issueToName }}
                      </td>
                      <td data-title="'Amount'" class="ng-table-fixed-column-20 text-right">
                        {{ w.amount }}
                      </td>
                      <td data-title="'Paid'" class="text-right">
                        {{ w.paid }}
                      </td>
                      <td data-title="'Balance'" class="text-right">
                        {{ w.balance }}
                      </td>                    
                    </tr>
                    <tr ng-if="$data.length==0">
                      <td colspan="12">No record</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-11">
            <div class="pmb-block">
              <div class="pmbb-header">
                  <h2 class="c-purple f-500" style="display: inline-block;">Payment Requests</h2>
                  <button class="btn btn-default bgm-purple f-15" title="Upload files" ng-click="vm.upload()" style="margin-left: 45px;"><i class="zmdi zmdi-plus"></i></button>
              </div>
              <div class="pmbb-body">
                <div class="table-responsive table-div no-pager"> 
                  <table ng-table="vm.paymentRequestTable" class="table table-vmiddle">
                    <tr ng-repeat="w in $data">
                      <td data-title="'Date'">
                        {{ w.invoiceDate|ddate }}
                      </td>
                      <td data-title="'No'" class="ng-table-fixed-column-20">
                        {{ w.invoiceNo }}
                      </td>
                      <td data-title="'To'" class="ng-table-fixed-column-20">
                        {{ w.issueToName }}
                      </td>
                      <td data-title="'Reason'" class="ng-table-fixed-column-20">
                        {{ w.issueToName }}
                      </td>
                      <td data-title="'Amount'" class="ng-table-fixed-column-20 text-right">
                        {{ w.amount }}
                      </td>
                      <td data-title="'Status'" class="text-right">
                        {{ w.paid }}
                      </td>
                      <td data-title="'Date Paid'" class="text-right">
                        {{ w.balance }}
                      </td>                    
                    </tr>
                    <tr ng-if="$data.length==0">
                      <td colspan="12">No record</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
