<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-12">
          <span class="f-20 f-500 c-purple">Bank CAC List</span>
          <a ui-sref="bank-CACs.new" class="btn btn-info btn-header"><i class="zmdi zmdi-plus"></i></a>
        </div>
      </div>
    </div>
        
    <div class="card-body">
      <div class="table-responsive"> 
        <table ng-table="vm.tableFilter" class="table table-striped table-vmiddle" show-filter="true">
          <tr ng-repeat="w in $data"  ui-sref="bank-CACs.edit({'id': w.code})">
            <td data-title="'Master Bank Code'" filter="{ 'clsBankCode.code': 'text' }" sortable="'clsBankCode.code'">
              {{ w.clsBankCode.code }}
            </td>
            <td data-title="'CAC Name'" filter="{ 'strName': 'text' }" sortable="'strName'">
              {{ w.strName }}
            </td>
            <td data-title="'Email'" filter="{ 'strEmailAddress': 'text' }" sortable="'strEmailAddress'">
              {{ w.strEmailAddress }}
            </td>
            <td data-title="'Phone'" filter="{ 'strPhone1': 'text' }" sortable="'strPhone1'">
              {{ w.strPhone1 }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
