<div class="container">

    <div class="card">
        <div class="card-body card-padding">
            <div class="clearfix"></div>

            <h4>Master Bank Information</h4>
            <div class="row">
                <div class="col-md-6 p-l-25">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Bank Code</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank.code" placeholder="PBB">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Bank Name</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank.name" placeholder="Public Bank Berhad">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Incorporation Type</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank.incorporation_type" placeholder="1">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Registerd Address</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.bank.address" type="text" class="form-control" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Phone</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank.phone" placeholder="4234-23-2423">
                            </div>
                        </dd>
                    </dl>                    
                </div>
                <div class="col-md-6 p-l-25">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Fax</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank.fax" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Email</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank.email" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Website</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.bank.website" type="text" class="form-control" placeholder="">
                            </div>

                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Previous Name 1</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank.prev_name1" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Previous Name 2</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank.prev_name1" placeholder="">
                            </div>
                        </dd>
                    </dl>                    
                </div>                
            </div>

            <div class="clearfix"></div>

            <h4 class="m-t-25" ng-click="vm.showLegalDept=!vm.showLegalDept">Legal Department Information&nbsp;&nbsp;&nbsp;&nbsp;<i class="zmdi zmdi-plus" ng-if="!vm.showLegalDept"></i><i class="zmdi zmdi-minus" ng-if="vm.showLegalDept"></i></h4>
            <div class="row" ng-show="vm.showLegalDept">                
                <div class="col-md-6 p-l-25">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Legal Department Head</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank.legal_dept_head" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Legal Department Officer</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.bank.legal_dept_officer" placeholder="">
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6 p-l-25">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Phone</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.bank.legal_phone" type="text" class="form-control" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Fax</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.bank.legal_fax" type="text" class="form-control" placeholder="">
                            </div>
                        </dd>
                    </dl>
                </div>                
            </div>   
            <div class="clearfix"></div>
 
            <div class="row">     
                <div class="col-md-10">
                    <div class="m-t-30">
                        <a class="btn btn-link btn-sm pull-right m-l-10" data-ui-sref="banks.list" data-ng-click="vm.editInfo = 0" >Cancel</a>
                        <a class="btn btn-primary btn-sm pull-right" type="submit" ng-click="vm.save()">Save</a>
                    </div>        
                </div>
            </div>
        </div>
    </div>
         
</div>


