<div ng-class="vm.isDialog ? '' : 'container'">
  <div class="card">
    <div class="card-header" ng-if="!vm.isDialog">
      <div class="row">
        <div class="col-md-11 col-sm-12">
          <span class="f-20 f-500 c-purple">{{ vm.title }}</span>
          <a class="btn btn-link btn-sm pull-right m-l-5" ng-click="vm.cancel()" >Cancel</a>
          <a class="btn btn-danger btn-sm pull-right m-l-5" type="submit" ng-click="vm.openDelete($event, vm.contact)" ng-if="vm.userInfo.priority.contact.delete && !vm.isNew">Delete</a>
          <a class="btn btn-primary btn-sm pull-right m-l-5" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.contact.update && vm.can_edit">Save</a>
          <a class="btn bgm-cyan btn-sm pull-right m-l-5" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.contact.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
          <a class="btn bgm-green btn-sm pull-right m-l-5" type="submit" ng-click="vm.copy()" ng-if="vm.userInfo.priority.contact.update  && !vm.isNew"><i class="zmdi zmdi-copy"></i>&nbsp;&nbsp;Duplicate</a>
          <a class="btn bgm-cyan btn-sm pull-right" type="submit" ui-sref="bank-branches.new" ng-if="vm.userInfo.priority.contact.update  && !vm.isNew"><i class="zmdi zmdi-plus"></i>&nbsp;&nbsp;New</a>
        </div>
      </div>
    </div>
    <div class="card-body card-padding">
      <h4>Branch Detail</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Master Bank Code</dt>
            <dd>
              <md-autocomplete
                md-selected-item="vm.entity.clsBankCode"
                md-search-text="searchText"
                md-items="item in vm.queryBanks(searchText)"
                md-item-text="item.code ? item.code: ' '"
                md-min-length="0"
                md-autoselect="false"
                class="default-input">
              <md-item-template>
                <span md-highlight-text="searchText" md-highlight-flags="i">{{item.code}}</span>
              </md-item-template>
              </md-autocomplete>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Master Bank Name</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.entity.clsBankCode.strName" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Branch Name</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.entity.strName">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Bank Attorney</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.entity.address.line3">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Bank Attorney IC No</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.entity.address.line3">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Bank Manager</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.entity.strManager">
              </div>
            </dd>
          </dl>
        </div>
      </div>

      <div class="clearfix"></div>
      <h4 class="m-t-25">Contact Information</h4>
      <div class="row" data-ng-include src="'contact-info-0.html'"></div>

      <h4 class="m-t-25 p-t-5" ng-click="vm.showMailingAddress=!vm.showMailingAddress">Mailing Address&nbsp;&nbsp;&nbsp;&nbsp;<i class="zmdi zmdi-plus" ng-if="vm.showMailingAddress"></i><i class="zmdi zmdi-minus" ng-if="!vm.showMailingAddress"></i></h4>
      <div class="row" ng-show="!vm.showMailingAddress" data-ng-include src="'mailing-address.html'"></div>

      <h4 class="m-t-25 m-b-20">Other Information</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Mailing List</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.entity.strMailList" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Bank Type (Sarawak)</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.entity.strNativeBank" type="text" class="form-control">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Note 1</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.entity.strNote1">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Note 2</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.entity.strNote2">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Note 3</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.entity.strNote3">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <div class="clearfix"></div>
      <h4 class="m-t-25 m-b-20">Credit Administration Centre (CAC) / Loan Doc Center (LDC)</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">CAC Code</dt>
            <dd>
              <div class="d-flex">              
                <md-autocomplete
                  md-selected-item="vm.entity.clsCACCode"
                  md-search-text="qsca"
                  md-items="item in vm.queryBankCACs(qsca)"
                  md-item-text="item.strName ? item.strName: ' '"
                  md-min-length="1"
                  md-autoselect="false"
                  class="default-input wp-100-btn-2">
                <md-item-template>
                  <span md-highlight-text="qsca" md-highlight-flags="i">{{item.strName}}</span>
                </md-item-template>
                </md-autocomplete>
                <a class="btn btn-primary short-btn bgm-lightgreen" ng-click="vm.bankCACDialog(false)">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Create a new bank CAC and choose it"></span>
                </a>
                <a class="btn btn-primary short-btn" ng-click="vm.bankCACDialog(true)">
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="See detail of bank CAC"></span>
                </a>
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">CAC Tel</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.entity.clsCACCode.strPhone1">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">CAC Fax</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.entity.clsCACCode.strPhoneFax">
              </div>
            </dd>
          </dl>
        </div>
      </div>

      <h4 class="m-t-25">Remarks</h4>
      <div class="row" data-ng-include src="'remarks.html'"></div>

      <h4 class="m-t-25 m-b-15">Office Use</h4>
      <div class="row" data-ng-include src="'office-use.html'"></div>

      <div class="row" ng-if="!vm.isDialog">
        <div class="col-md-11 col-sm-12 no-padding">
          <div class="m-t-30 p-l-15">
            <a class="btn btn-link btn-sm pull-right m-l-5" ng-click="vm.cancel()" >Cancel</a>
            <a class="btn btn-danger btn-sm pull-right m-l-5" type="submit" ng-click="vm.openDelete($event, vm.contact)" ng-if="vm.userInfo.priority.contact.delete  && !vm.isNew">Delete</a>
            <a class="btn btn-primary btn-sm pull-right m-l-5" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.contact.update && vm.can_edit">Save</a>
            <a class="btn bgm-cyan btn-sm pull-right m-l-5" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.contact.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
            <a class="btn bgm-green btn-sm pull-right m-l-5" type="submit" ng-click="vm.copy()" ng-if="vm.userInfo.priority.contact.update  && !vm.isNew"><i class="zmdi zmdi-copy"></i>&nbsp;&nbsp;Duplicate</a>
            <a class="btn bgm-cyan btn-sm pull-right" type="submit" ui-sref="bank-branches.new" ng-if="vm.userInfo.priority.contact.update  && !vm.isNew"><i class="zmdi zmdi-plus"></i>&nbsp;&nbsp;New</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
