<div ng-class="vm.isDialog ? '' : 'container'">
  <div class="card">
    <div class="card-header" ng-if="!vm.isDialog">
      <div class="row">
        <div class="col-md-11 col-sm-12">
          <span class="f-20 f-500 c-purple">{{ vm.title }}</span>
          <a class="btn btn-link btn-sm pull-right m-l-5" ng-click="vm.cancel()">Cancel</a>
          <a class="btn btn-danger btn-sm pull-right m-l-5" type="submit" ng-click="vm.openDelete($event, vm.entity)" ng-if="vm.userInfo.priority.contact.delete && !vm.isNew">Delete</a>
          <a class="btn btn-primary btn-sm pull-right m-l-5" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.contact.update && vm.can_edit">Save</a>
          <a class="btn bgm-cyan btn-sm pull-right m-l-5" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.contact.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
          <a class="btn bgm-green btn-sm pull-right m-l-5" type="submit" ng-click="vm.copy()" ng-if="vm.userInfo.priority.contact.update && !vm.isNew"><i class="zmdi zmdi-copy"></i>&nbsp;&nbsp;Duplicate</a>
          <a class="btn bgm-cyan btn-sm pull-right" type="submit" data-ui-sref="billing.items-new" ng-if="vm.userInfo.priority.contact.update && !vm.isNew"><i class="zmdi zmdi-plus"></i>&nbsp;&nbsp;New</a>
        </div>
      </div>
    </div>
        
    <div class="card-body card-padding">
      <div class="clearfix"></div>

      <h4>Bill Item Information</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <div class="m-t-20 m-b-20">
            <label class="radio radio-inline m-r-25">
              <input type="radio" value="F" ng-disabled="!vm.can_edit" ng-model="vm.entity.strType">
              <i class="input-helper"></i>
              Professional Fee 
            </label>

            <label class="radio radio-inline m-r-25">
              <input type="radio" value="D" ng-disabled="!vm.can_edit" ng-model="vm.entity.strType">
              <i class="input-helper"></i>
              Disbursement
            </label>

            <label class="radio radio-inline m-r-25">
              <input type="radio" value="P" ng-disabled="!vm.can_edit" ng-model="vm.entity.strType">
              <i class="input-helper"></i>
              Disb. with GST
            </label>
            <label class="radio radio-inline m-r-25">
              <input type="radio" value="G" ng-disabled="!vm.can_edit" ng-model="vm.entity.strType">
              <i class="input-helper"></i>
              Service Tax
            </label>
          </div>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Item Code</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.entity.strItemCode">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Description</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.entity.strDescription">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Inherit from</dt>
            <dd>
              <div class="fg-line">
                <md-autocomplete
                  ng-disabled="!vm.can_edit"
                  md-selected-item="vm.entity.inherit"
                  md-search-text="searchText"
                  md-items="item in vm.queryBillItems(searchText)"
                  md-item-text="item.code"
                  md-min-length="1"
                  md-autoselect="false"
                  class="default-input">
                <md-item-template>
                  <span md-highlight-text="searchText" class="col-1" md-highlight-flags="i">{{item.name}}</span>
                  <span md-highlight-text="searchText" md-highlight-flags="i">{{item.code}}</span>
                </md-item-template>
                </md-autocomplete>
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal m-b-0" ng-if="vm.entity.strType == 'F'">
            <dt class="p-t-10">With Formula</dt>
            <dd>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-disabled="!vm.can_edit" ng-model="vm.entity.boolFormula">
                  <i class="input-helper"></i>
                </label>
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal m-b-5" ng-if="vm.entity.strType == 'F'">
            <dt class="p-t-10">Is Primary Fee</dt>
            <dd>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-disabled="!vm.can_edit" ng-model="vm.entity.boolIsPrimary">
                  <i class="input-helper"></i>
                </label>
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">State</dt>
            <dd>
              <div class="fg-line">
                <div class="select">
                  <select class="form-control" ng-disabled="!vm.can_edit" ng-model="vm.entity.strState">
                    <option ng-repeat="v in vm.states">{{ v.strDescription }}</option>
                  </select>
                </div>
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Category</dt>
            <dd>
              <div class="fg-line">
                <div class="select">
                  <select class="form-control" ng-disabled="!vm.can_edit" ng-model="vm.entity.strCategory" ng-options="v for v in vm.categories">
                  </select>
                </div>
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Priority</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.entity.intRank" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <h4 class="m-t-25 m-b-10" style="margin-left:-10px;">GST Setting for Tax Invoice (Customer)</h4>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Supply Tax Code</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.entity.strSupplyTaxCode" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Default Price (RM)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.entity.decPricePerUnit">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Default Unit</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.entity.decDefaultUnit">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-disabled="!vm.can_edit" ng-model="vm.entity.not_applicable">
                <i class="input-helper"></i>
                Not Applicable
              </label>
            </div>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <h4 class="m-t-25 m-b-10" style="margin-left:-10px;">GST Setting for Voucher (Supplier)</h4>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Purchase Tax Code</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" ng-disabled="vm.entity.strType == 'F'" class="form-control" ng-model="vm.entity.strPurchaseTaxCode">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Default Cost (RM)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" ng-disabled="vm.entity.strType == 'F'" class="form-control" ng-model="vm.entity.decDefaultInputCost">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Default Unit</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" ng-disabled="vm.entity.strType == 'F'" class="form-control" ng-model="vm.entity.decDefaultInputUnit">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <div class="clearfix"></div>
      <h4 class="m-t-25">REMARK</h4>
      <div class="row">
        <div class="col-md-10 p-l-25">
          <dl class="dl-horizontal">
            <dd>
              <div class="fg-line">
                <textarea class="form-control" ng-readonly="!vm.can_edit" rows="5" ng-model="vm.entity.strRemarks"></textarea>
              </div>
            </dd>
          </dl>
        </div>
      </div>

      <h4 class="m-t-25 m-b-15">Office Use</h4>
      <div class="row" data-ng-include src="'office-use.html'"></div>

      <div class="row" ng-if="!vm.isDialog">
        <div class="col-md-11 col-sm-12 no-padding">
          <div class="m-t-30 p-l-15">
            <a class="btn btn-link btn-sm pull-right m-l-5" ng-click="vm.cancel()">Cancel</a>
            <a class="btn btn-danger btn-sm pull-right m-l-5" type="submit" ng-click="vm.openDelete($event, vm.entity)" ng-if="vm.userInfo.priority.contact.delete && !vm.isNew">Delete</a>
            <a class="btn btn-primary btn-sm pull-right m-l-5" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.contact.update && vm.can_edit">Save</a>
            <a class="btn bgm-cyan btn-sm pull-right m-l-5" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.contact.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
            <a class="btn bgm-green btn-sm pull-right m-l-5" type="submit" ng-click="vm.copy()" ng-if="vm.userInfo.priority.contact.update && !vm.isNew"><i class="zmdi zmdi-copy"></i>&nbsp;&nbsp;Duplicate</a>
            <a class="btn bgm-cyan btn-sm pull-right" type="submit" data-ui-sref="billing.items-new" ng-if="vm.userInfo.priority.contact.update && !vm.isNew"><i class="zmdi zmdi-plus"></i>&nbsp;&nbsp;New</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>