<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
  <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

  <section id="content">
    <div class="container">
      <ul class="tab-nav o-visible m-b-25">
        <li class="btn-wave" data-ui-sref-active="active">
          <a data-ui-sref="billing.quotations-new"><i class="zmdi zmdi-plus"></i> Quotation</a>
        </li>
        <li class="btn-wave" data-ui-sref-active="active">
          <a data-ui-sref="billing.invoices-new"><i class="zmdi zmdi-plus"></i> Invoice</a>
        </li>
        <li class="btn-wave" data-ui-sref-active="active">
          <a data-ui-sref="billing.receipts-new"><i class="zmdi zmdi-plus"></i> Receipt</a>
        </li>
        <li class="btn-wave" data-ui-sref-active="active">
          <a data-ui-sref="billing.payment-requests-new"><i class="zmdi zmdi-plus"></i> Payment Requests</a>
        </li>
        <li class="dropdown" uib-dropdown>
          <a href="" uib-dropdown-toggle>
            Adjustments
          </a>

          <ul class="dropdown-menu">
            <li>
              <a ui-sref="billing.CN-new"><i class="zmdi zmdi-plus"></i> Credit Note</a>
            </li>
            <li>
              <a ui-sref="billing.DN-new"><i class="zmdi zmdi-plus"></i> Debit Note</a>
            </li>
            <li>
              <a ui-sref="billing.GJ-new"><i class="zmdi zmdi-plus"></i> General Journal ( GJ )</a>
            </li>
            <li>
              <a ui-sref="billing.IAT-new"><i class="zmdi zmdi-plus"></i> Inter Bank Accounts Transfer ( IAT )</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" uib-dropdown>
          <a href="" uib-dropdown-toggle>
            Listings
          </a>

          <ul class="dropdown-menu">
            <li>
              <a ui-sref="billing.items-list">Bill items</a>
            </li>
            <li>
              <a ui-sref="billing.presetbills-list">Preset Bills</a>
            </li>
            <li>
              <a ui-sref="billing.quotations-list">Quotations</a>
            </li>
            <li>
              <a ui-sref="billing.invoices-list">Invoices</a>
            </li>
            <li>
              <a ui-sref="billing.receipts-list">Receipts</a>
            </li>
            <li>
              <a ui-sref="billing.vouchers-list">Vouchers</a>
            </li>
            <li>
              <a ui-sref="billing.payment-requests-list">Payment Requests</a>
            </li>
            <li>
              <a ui-sref="billing.fee-transfers-list">Fees Transfer</a>
            </li>
            <li>
              <a ui-sref="billing.transactions-list">Transactions</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" uib-dropdown>
          <a href="" uib-dropdown-toggle>
            <i class="zmdi zmdi-more"></i>
          </a>

          <ul class="dropdown-menu">
            <li>
              <a ui-sref="billing.items-list">Bank Recon</a>
            </li>
            <li>
              <a ui-sref="billing.items-list">Trial Balance</a>
            </li>
            <li>
              <a ui-sref="billing.items-list">Settings</a>
            </li>
            <li>
              <a class="c-gray" ui-sref="billing.items-list">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bank Accounts Listing</a>
            </li>
            <li>
              <a class="c-gray" ui-sref="billing.items-list">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Opening Balance</a>
            </li>
            <li>
              <a class="c-gray" ui-sref="billing.items-list">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Accounting Period Lock</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <data ui-view></data>
  </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>

<script type="text/ng-template" id="billItemModal.html">
  <div class="modal-header contact-modal-header">
    <span class="c-purple f-500 f-20">Choose Bill Items</span>
  </div>
  <div class="modal-content">
    <div class="row">
      <div class="col-sm-10 col-md-6 p-l-30 m-t-15">
        <div class="item-type" ng-class="{ 'active': vm.itemType=='All' }" ng-click="vm.filterItem('All')">ALL</div>
        <div class="item-type" ng-class="{ 'active': vm.itemType=='Fees' }" ng-click="vm.filterItem('Fees')">FEE</div>
        <div class="item-type" ng-class="{ 'active': vm.itemType=='Disb.w' }" ng-click="vm.filterItem('Disb.w')">DISB (SST/GST)</div>
        <div class="item-type" ng-class="{ 'active': vm.itemType=='Disb' }" ng-click="vm.filterItem('Disb')">DISB</div>
        <div class="item-type" ng-class="{ 'active': vm.itemType=='DisbWithTax' }" ng-click="vm.filterItem('DisbWithTax')">SST/GST</div>
      </div>
      <div class="col-sm-6 col-md-4 m-t-15 p-r-20">
        <div class="input-group input-group-lg">
          <span class="input-group-addon search-icon"><i class="zmdi zmdi-search"></i></span>
          <div class="fg-line">
            <input type="text" class="form-control" placeholder="Search" ng-model="vm.keyword" ng-change="vm.search()">
          </div>
          <span class="input-group-addon search-clear" ng-show="vm.keyword" ng-click="vm.keyword='';vm.search();"><i class="zmdi zmdi-close"></i></span>
        </div>
      </div>
    </div>

    <div class="table-responsive table-div p-15"> 
      <table ng-table="vm.tableFilter" class="table table-striped table-vmiddle table-list">
        <tr ng-repeat="w in $data" ng-dblclick="vm._addItems([w]);">
          <td data-title="''"><input type="checkbox" ng-model="vm.items[w.strItemCode]" /></td>
          <td data-title="'Item Code'">
            {{ w.strItemCode }}
          </td>
          <td data-title="'State'">
            {{ w.strState }}
          </td>
          <td data-title="'Category'">
            {{ w.strCategory }}
          </td>
          <td data-title="'Description'">
            {{ w.strDescription }}
          </td>
          <td data-title="'Supply Tax'">
            {{ w.strTaxCode }}
          </td>
          <td data-title="'S.Rate'">
            {{ w.decTaxRate * 100 }}
          </td>
          <td data-title="'P.Rate'">
            {{ w.decPricePerUnit }}
          </td>
          <td data-title="'Type'">
            {{ w.strType }}
          </td>
          <td data-title="'Formula'" class="p-0 text-center">
            <div class="checkbox m-5">
              <label>
                <input type="checkbox" ng-checked="w.boolFormula=='1'" ng-readonly="true">
                <i class="input-helper"></i>
              </label>
            </div>
          </td>
          <td data-title="'Price'" class="text-right">
            {{ w.decPricePerUnit | number:2 }}
          </td>
          <td data-title="'Unit'" class="text-right">
            {{ w.decDefaultUnit }}
          </td>
          <td data-title="'Inherit from'">
            {{ w.strInherit }}
          </td>
        </tr>
      </table>
    </div>

    <div class="row p-b-20">
      <div class="col-md-11" ng-if="!vm.viewMode">
        <div class="m-t-10">
          <a class="btn btn-link btn-sm pull-right m-l-10" ng-click="vm.cancel()">Cancel</a>
          <a class="btn btn-primary btn-sm pull-right m-l-10" type="submit" ng-click="vm.addItems()">Add Items</a>
          <!-- <a class="btn btn-info btn-sm pull-right" type="submit" ng-click="vm.createItem()">Create New Item</a> -->
        </div>
      </div>
    </div>
  </div>
</script>
