<div class="container">

    <div class="card">
        <div class="card-body card-padding">
            <div class="clearfix"></div>

            <span class="f-20 f-500 c-purple">Postcode</span>
            <div class="row">
                <div class="col-md-6 p-l-25">
                   
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Postcode</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.city.postcode" type="text" class="form-control" placeholder="eg. Mallinda Hollaway">
                            </div>

                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">City / Town</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.city.city" placeholder="UA203453">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">State</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.city.state" placeholder="Lawyer">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Country</dt>
                        <dd>
                            <div class="fg-line">
                                <input ng-model="vm.city.country" type="text" class="form-control" placeholder="">
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>            
               
            <div class="row">     
                <div class="col-md-10">
                    <div class="m-t-30">
                        <a class="btn btn-link btn-sm pull-right m-l-10" ui-sref="cities.list" data-ng-click="vm.editInfo = 0" >Cancel</a>
                        <a class="btn btn-primary btn-sm pull-right" type="submit" ng-click="vm.save()">Save</a>
                    </div>        
                </div>
            </div>
        </div>
    </div>
         
</div>


