<div class="container">
  <div class="card">
    <div class="card-header" style="display: flex;">
      <div class="col-md-10 col-sm-12 no-padding" ng-if="!vm.viewMode">
        <h2 class="f-20 f-500 c-purple" style="display: inline;">Court Diary Edit</h2>
        <a class="btn btn-link btn-sm pull-right m-l-5" ng-click="vm.cancel()" >Cancel</a>
        <a class="btn btn-danger btn-sm pull-right m-l-5" type="submit" ng-click="vm.openDelete($event, vm.entity)" ng-if="vm.userInfo.priority.courtdiary.delete && !vm.create_new">Delete</a>
        <a class="btn btn-primary btn-sm pull-right m-l-5" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.courtdiary.update && vm.can_edit">Save</a>
        <a class="btn bgm-cyan btn-sm pull-right m-l-5" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.courtdiary.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
        <a class="btn bgm-green btn-sm pull-right m-l-5" type="submit" ng-click="vm.copy()" ng-if="vm.userInfo.priority.courtdiary.update && !vm.create_new"><i class="zmdi zmdi-copy"></i>&nbsp;&nbsp;Duplicate</a>
        <a class="btn bgm-cyan btn-sm pull-right" type="submit" data-ui-sref="courtdiaries.new" ng-if="vm.userInfo.priority.courtdiary.update && !vm.create_new && !vm.viewMode"><i class="zmdi zmdi-plus"></i>&nbsp;&nbsp;New</a>
      </div>
      <div class="col-md-10 col-sm-11 no-padding" ng-if="vm.viewMode">
        <h2 style="display: inline;">Court Diary Detail</h2>
        <a class="btn btn-default btn-sm pull-right" ng-click="vm.cancel()" >Close</a>
      </div>
    </div>

    <div class="card-body card-padding">
      <div class="clearfix"></div>
      <h4>Enter Hearing Date</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Matter No</dt>
            <dd>
              <md-autocomplete
                ng-disabled="!vm.can_edit"
                md-selected-item="vm.rmatter"
                md-search-text="qstl"
                md-items="item in vm.queryMatters(qstl)"
                md-item-text="item.Title.replace('Matter: ', '')"
                md-min-length="0"
                md-selected-item-change="vm.matterChange(item)"
                class="default-input">
                <md-item-template>
                  <span md-highlight-text="searchText" class="col-1" md-highlight-flags="i">{{ item.Title }}</span>
                </md-item-template>
              </md-autocomplete>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Previous Date</dt>
            <dd>
              <div class="fg-line">
                <input ng-click="open($event, 'ctopened1')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="vm.entity.dtPreviousDate" is-open="ctopened1" min-date="'1900-1-1'" datepicker-options="dateOptions" ng-disabled="!vm.can_edit" ng-required="true" close-text="Close" placeholder="Select Date" />
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Hearing Date</dt>
            <dd>
              <div class="fg-line">
                <input ng-click="open($event, 'ctopened')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="vm.entity.dtEventDate" is-open="ctopened" min-date="'1900-1-1'" datepicker-options="dateOptions" ng-disabled="!vm.can_edit" ng-required="true" close-text="Close" placeholder="Select Date" />
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Court Type</dt>
            <dd>
              <div class="fg-line">
                <md-autocomplete
                  ng-disabled="!vm.can_edit"
                  md-selected-item="vm.court"
                  md-search-text="qscr"
                  md-items="item in vm.queryCourts(qscr)"
                  md-item-text="item.strTypeE"
                  md-min-length="0"
                  md-selected-item-change="vm.courtChange(item)"
                  class="default-input">
                  <md-item-template>
                    <span md-highlight-text="searchText" class="col-1" md-highlight-flags="i">
                      {{ item.strTypeE }}
                    </span>
                  </md-item-template>
                </md-autocomplete>
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Place</dt>
            <dd>
              <div class="fg-line">
                <md-autocomplete
                  ng-disabled="!vm.can_edit || !vm.court"
                  md-selected-item="vm.entity.clsCourtPlace"
                  md-search-text="qscp"
                  md-items="item in vm.queryCourtPlaces(qscp)"
                  md-item-text="item.strPlace+', '+item.strState"
                  md-no-cache="true"
                  md-min-length="0"
                  class="default-input">
                  <md-item-template>
                    <span md-highlight-text="searchText" class="col-1" md-highlight-flags="i">
                      {{ item.strPlace }}, {{ item.strState }}
                    </span>
                  </md-item-template>
                </md-autocomplete>
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Case No</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.entity.courtInfo.CaseNo">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Case Name</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.entity.courtInfo.CaseName">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Hearing Type</dt>
            <dd>
              <md-autocomplete
                ng-disabled="!vm.can_edit"
                md-selected-item="vm.strHearingType"
                md-search-text="qsht"
                md-items="item in vm.queryHearingType(qsht)"
                md-item-text="item.description"
                md-min-length="0"
                md-selected-item-change="vm.hearingTypeChange(item)"
                class="default-input">
                <md-item-template>
                  <span md-highlight-text="qsht" class="col-1" md-highlight-flags="i">{{ item.description }}</span>
                </md-item-template>
              </md-autocomplete>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Enclosure</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.entity.strEnclosure" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Counsel Assigned</dt>
            <dd>
              <div class="d-flex">
                <md-autocomplete
                  ng-disabled="!vm.can_edit"
                  md-selected-item="vm.strCounselAssigned"
                  md-search-text="qsca"
                  md-items="item in vm.queryStaff(qsca)"
                  md-item-text="item.strName"
                  md-min-length="0"
                  md-selected-item-change="vm.caChange(item)"
                  class="default-input wp-100-btn-1">
                  <md-item-template>
                    <span md-highlight-text="qsca" class="col-1" md-highlight-flags="i">{{ item.strName }}</span>
                  </md-item-template>
                </md-autocomplete>
                <a class="btn btn-primary short-btn bgm-lightgreen" ng-click="vm.staffDialog('strCounselAssigned')">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Create a new bank and choose it"></span>
                </a>
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <div class="clearfix"></div>
      <h4>Enter Court Attendance</h4>
      <div class="row">
        <div class="col-md-10 m-b-5 m-t-10" style="margin-left: 190px;">
          <label class="radio radio-inline m-b-15 m-l-0 m-r-25">
            <input type="radio" value="1-Attended" ng-model="vm.clsAttendedStatus" ng-disabled="!vm.can_edit">
            <i class="input-helper"></i>
            Attended 
          </label>

          <label class="radio radio-inline m-b-15 m-l-0 m-r-25">
            <input type="radio" value="2-MOB" ng-model="vm.clsAttendedStatus" ng-disabled="!vm.can_edit">
            <i class="input-helper"></i>
            MOB
          </label>

          <label class="radio radio-inline m-b-15 m-l-0 m-r-25">
            <input type="radio" value="3-Postponed" ng-model="vm.clsAttendedStatus" ng-disabled="!vm.can_edit">
            <i class="input-helper"></i>
            Postponed
          </label>
          <label class="radio radio-inline m-b-15 m-l-0 m-r-25">
            <input type="radio" value="4-Absent" ng-model="vm.clsAttendedStatus" ng-disabled="!vm.can_edit">
            <i class="input-helper"></i>
            Absent
          </label>
          <label class="radio radio-inline m-b-15 m-l-0 m-r-25">
            <input type="radio" value="0-None" ng-model="vm.clsAttendedStatus" ng-disabled="!vm.can_edit">
            <i class="input-helper"></i>
            None
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Counsel Assigned</dt>
            <dd>
              <div class="d-flex">
                <md-autocomplete
                  ng-disabled="!vm.can_edit"
                  md-selected-item="vm.strCounselAssigned"
                  md-search-text="qsca"
                  md-items="item in vm.queryStaff(qsca)"
                  md-item-text="item.strName"
                  md-min-length="0"
                  md-selected-item-change="vm.caChange(item)"
                  class="default-input wp-100-btn-1">
                  <md-item-template>
                    <span md-highlight-text="qsca" class="col-1" md-highlight-flags="i">{{ item.strName }}</span>
                  </md-item-template>
                </md-autocomplete>
                <a class="btn btn-primary short-btn bgm-lightgreen" ng-click="vm.staffDialog('strCounselAssigned')">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Create a new bank and choose it"></span>
                </a>
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Counsel Attended</dt>
            <dd>
              <div class="d-flex">
                <md-autocomplete
                  ng-disabled="!vm.can_edit"
                  md-selected-item="vm.strCounselAttended"
                  md-search-text="qscd"
                  md-items="item in vm.queryStaff(qscd)"
                  md-item-text="item.strName"
                  md-min-length="0"
                  md-selected-item-change="vm.cdChange(item)"
                  class="default-input wp-100-btn-1">
                  <md-item-template>
                    <span md-highlight-text="qscd" class="col-1" md-highlight-flags="i">{{ item.strName }}</span>
                  </md-item-template>
                </md-autocomplete>
                <a class="btn btn-primary short-btn bgm-lightgreen" ng-click="vm.staffDialog('strCounselAttended')">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Create a new bank and choose it"></span>
                </a>
              </div>
            </dd>
          </dl>
 
          <dl class="dl-horizontal">
            <dt class="p-t-10">Coram</dt>
            <dd>
              <div class="d-flex">
                <md-autocomplete
                  ng-disabled="!vm.can_edit"
                  md-selected-item="vm.entity.clsCoram"
                  md-search-text="qsic"
                  md-items="item in vm.queryCoram(qsic)"
                  md-item-text="item.strName"
                  md-min-length="0"
                  class="default-input wp-100-btn-1">
                  <md-item-template>
                    <span md-highlight-text="qsic" class="col-1" md-highlight-flags="i">{{ item.strName }}</span>
                  </md-item-template>
                </md-autocomplete>
                <a class="btn btn-primary short-btn bgm-lightgreen" ng-click="vm.judgeDialog()">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Create a new bank and choose it"></span>
                </a>
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Opponent's Counsel</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.entity.strOpponentCounsel">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Court Decision</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.entity.strCourtDecision">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Action Required</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.entity.strActionRequired" ng-readonly="!vm.can_edit" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Action To be Completed By</dt>
            <dd>
              <div class="fg-line">
                <input ng-click="open($event, 'ctopeneded')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="vm.entity.dtActionEndDate" is-open="ctopeneded" min-date="'1900-1-1'" datepicker-options="dateOptions" ng-disabled="!vm.can_edit" ng-required="true" close-text="Close" placeholder="Select Date" />
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Next Date</dt>
            <dd>
              <div class="col-md-6 p-0">
                <div class="fg-line">
                  <input ng-click="open($event, 'ctopenednd')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="vm.entity.dtNextDate" is-open="ctopenednd" min-date="'1900-1-1'" datepicker-options="dateOptions" ng-disabled="!vm.can_edit || !vm.entity.boolChkNextDate" ng-required="true" close-text="Close" placeholder="Select Date" />
                </div>
              </div>
              <div class="col-md-6">
                <button class="btn bgm-cyan btn-sm m-l-5" ng-click="vm.save_new_hearing();" ng-if="vm.entity.boolChkNextDate && vm.entity.dtNextDate" ng-disabled="!vm.can_edit">Save New Hearing Date</button>
              </div>
              <div class="clearfix"></div>
              <div class="m-b-10">
                <div class="radio">
                  <label>
                    <input type="radio" name="propertyType" ng-value="false" ng-model="vm.entity.boolChkNextDate" ng-disabled="!vm.can_edit" ng-change="vm.checkNextDate();">
                    <i class="input-helper"></i>
                    No next date
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="propertyType" ng-value="true" ng-model="vm.entity.boolChkNextDate" ng-disabled="!vm.can_edit" ng-change="vm.checkNextDate();">
                    <i class="input-helper"></i>
                    Next date to be given
                  </label>
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>

      <h4 class="m-t-25">Remarks</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Remark</dt>
            <dd>
              <div class="fg-line">
                <textarea class="form-control p-l-10" ng-readonly="!vm.can_edit" rows="5" ng-model="vm.entity.strRemarks" placeholder="type here...."></textarea>
              </div>
            </dd>
          </dl>
        </div>
      </div>

      <h4 class="m-t-25 m-b-15">Office Use</h4>
      <div class="row" data-ng-include src="'office-use.html'"></div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-10 col-sm-12 no-padding" ng-if="!vm.viewMode">
          <div class="m-t-30">
            <a class="btn btn-link btn-sm pull-right m-l-5" ng-click="vm.cancel()" >Cancel</a>
            <a class="btn btn-danger btn-sm pull-right m-l-5" type="submit" ng-click="vm.openDelete($event, vm.entity)" ng-if="vm.userInfo.priority.courtdiary.delete && !vm.create_new">Delete</a>
            <a class="btn btn-primary btn-sm pull-right m-l-5" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.courtdiary.update && vm.can_edit">Save</a>
            <a class="btn bgm-cyan btn-sm pull-right m-l-5" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.courtdiary.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
            <a class="btn bgm-green btn-sm pull-right m-l-5" type="submit" ng-click="vm.copy()" ng-if="vm.userInfo.priority.courtdiary.update && !vm.create_new"><i class="zmdi zmdi-copy"></i>&nbsp;&nbsp;Duplicate</a>
            <a class="btn bgm-cyan btn-sm pull-right" type="submit" data-ui-sref="courtdiaries.new" ng-if="vm.userInfo.priority.courtdiary.update && !vm.create_new && !vm.viewMode"><i class="zmdi zmdi-plus"></i>&nbsp;&nbsp;New</a>
          </div>
        </div>
        <div class="col-md-10 col-sm-11" ng-if="vm.viewMode">
          <div class="m-t-30">
            <a class="btn btn-default btn-sm pull-right m-l-10" ng-click="vm.cancel()" >Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
