<div ng-class="vm.isDialog ? '' : 'container'">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          <span class="f-20 f-500 c-purple">{{ vm.title }}</span>
          <a class="btn btn-link btn-sm pull-right" ui-sref="billing.transactions-list({ type: 'CN' })">Cancel</a>
          <a class="btn btn-primary btn-sm pull-right m-r-10" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.contact.update && vm.can_edit">Save</a>
          <a class="btn bgm-cyan btn-sm pull-right m-r-10" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.contact.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
        </div>
      </div>
    </div>

    <div class="card-body card-padding">
      <h4 class="m-b-15">Details</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal m-b-10">
            <dt class="p-t-10">Credit Note No. (System)</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.entity.strTransactionDoc" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal m-b-10">
            <dt class="p-t-10">Credit Note No. (Manuel)</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.entity.strTransactionNoManual" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal m-b-20">
            <dt class="p-t-10">Account Type</dt>
          </dl>
          <div class="clearfix"></div>
          <dl class="dl-horizontal m-b-20 m-t-20">
            <label class="radio radio-inline m-b-15 m-l-0 m-r-30">
              <input type="radio" value="1-Attended" ng-model="vm.clsAttendedStatus">
              <i class="input-helper"></i>
              Client
            </label>

            <label class="radio radio-inline m-b-15 m-l-0 m-r-25">
              <input type="radio" value="2-MOB" ng-model="vm.clsAttendedStatus">
              <i class="input-helper"></i>
              Disbursment
            </label>

            <label class="radio radio-inline m-b-15 m-l-0 m-r-25">
              <input type="radio" value="21-MOB" ng-model="vm.clsAttendedStatus">
              <i class="input-helper"></i>
              Office Advance
            </label>
            <label class="radio radio-inline m-b-15 m-l-0 m-r-25">
              <input type="radio" value="22-MOB" ng-model="vm.clsAttendedStatus">
              <i class="input-helper"></i>
              Fixed Deposit
            </label>
            <label class="radio radio-inline m-b-15 m-l-0 m-r-25">
              <input type="radio" value="23-MOB" ng-model="vm.clsAttendedStatus">
              <i class="input-helper"></i>
              Other
            </label>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Matter No.</dt>
            <dd>
              <md-autocomplete
                ng-disabled="!vm.can_edit"
                md-selected-item="vm.entity.clsFileNo"
                md-search-text="qstl"
                md-items="item in vm.queryMatters(qstl)"
                md-item-text="item.strFileNo1 || item.key"
                md-min-length="0"
                md-selected-item-change="vm.matterChange(item)"
                placeholder="Enter matter No (if any)"
                class="default-input">
                <md-item-template>
                  <span md-highlight-text="qstl" class="col-1" md-highlight-flags="i">{{ item.Title }}</span>
                </md-item-template>
              </md-autocomplete>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Amount</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.entity.decWithdrawalAmount" type="text" class="form-control">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Transaction Description</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.entity.strTransactionDescription">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Transaction Date</dt>
            <dd>
              <div class="fg-line">
                <input ng-click="open($event, 'opened1')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="vm.entity.dtTransactionDate" is-open="opened1" min-date="'1900-1-1'" datepicker-options="dateOptions" ng-disabled="!vm.can_edit" ng-required="true" close-text="Close" placeholder="Select Date" />
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">File Account Credited</dt>
            <dd>
              <md-autocomplete
                ng-disabled="!vm.can_edit"
                md-selected-item="vm.strAccountID"
                md-search-text="qpsb1"
                md-items="item in vm.queryBills(qpsb1)"
                md-item-text="item.code"
                md-min-length="0"
                md-selected-item-change="vm.presetBillChange(item)"
                md-autoselect="false"
                class="default-input">
              <md-item-template>
                <span md-highlight-text="qpsb1" class="col-1" md-highlight-flags="i">{{item.code}}</span>
                <span md-highlight-text="qpsb1" md-highlight-flags="i">{{item.strDescription}}</span>
              </md-item-template>
              </md-autocomplete>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Bank Account Credited</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.entity.decLoan">
              </div>
            </dd>
          </dl>
        </div>
      </div>

      <h4 class="m-t-25">Mode of Payment</h4>
      <div class="row">
        <div class="col-md-5 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Mode</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.entity.strMode">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Bank Account</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.entity.intAccBankID">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Cheque No. / Ref. No.</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.entity.strChqNo">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-5 p-l-25">
          <dl class="dl-horizontal m-t-25 p-t-25">
            <dt class="p-t-10">Account No.</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.entity.decLoan">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Cheque Amount</dt>
            <dd>
              <div class="fg-line">
                <input type='text' class="form-control" ng-model="vm.entity.decChqAmount">
              </div>
            </dd>
          </dl>
        </div>
      </div>

      <div class="clearfix"></div>
      <h4 class="m-t-25">Remark</h4>
      <div class="row">
        <div class="col-md-10 p-l-25">
          <dl class="dl-horizontal">
            <dd>
              <div class="fg-line">
                <textarea class="form-control" rows="3"></textarea>
              </div>
            </dd>
          </dl>
        </div>
      </div>

      <h4 class="m-t-25 m-b-15">Office Use</h4>
      <div class="row" data-ng-include src="'office-use.html'"></div>

      <div class="row">
        <div class="col-md-10">
          <div class="m-t-30">
            <a class="btn btn-link btn-sm pull-right m-l-10" ui-sref="billing.transactions-list({ type: 'CN' })">Cancel</a>
            <a class="btn btn-primary btn-sm pull-right m-l-10" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.contact.update && vm.can_edit">Save</a>
            <a class="btn bgm-cyan btn-sm pull-right m-l-10" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.contact.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
