<div class="container">

    <div class="card">
        <div class="card-body card-padding">
            <h4 class="m-t-25">Mukim</h4>
            <div class="row">
                <div class="col-md-6 p-l-25">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Mukim</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.mukim.mukim" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">District</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.mukim.district" placeholder="">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="vm.mukim.favourite">
                                <i class="input-helper"></i>
                                Add to Favourites
                            </label>
                        </div>
                    </dl>                    
                </div>
                <div class="col-md-6 p-l-25">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">State</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.mukim.state" placeholder="UA203453">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Code (For Sarawak)</dt>
                        <dd>
                            <div class="fg-line">
                                <input type='text' class="form-control" ng-model="vm.mukim.code_sarawak" placeholder="">
                            </div>
                        </dd>
                    </dl>                   
                </div>                
            </div>   
            <div class="clearfix"></div>
        
            <div class="row">     
                <div class="col-md-10">
                    <div class="m-t-30">
                        <a class="btn btn-link btn-sm pull-right m-l-10" data-ui-sref="mukims.list" data-ng-click="vm.editInfo = 0" >Cancel</a>
                        <a class="btn btn-primary btn-sm pull-right" type="submit" ng-click="vm.save()">Save</a>
                    </div>        
                </div>
            </div>
        </div>
    </div>
         
</div>


