<div ng-class="vm.isDialog ? '' : 'container'">
  <div class="card">
    <div class="card-header" ng-if="!vm.isDialog">
      <div class="row">
        <div class="col-md-11 col-sm-12">
          <span class="f-20 f-500 c-purple">{{ vm.title }}</span>
          <!-- <a class="btn btn-link btn-sm pull-right m-l-5" ng-click="vm.cancel()" >Cancel</a> -->
          <!-- <a class="btn btn-primary btn-sm pull-right m-l-5" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.contact.update && vm.can_edit">Save</a> -->
          <!-- <a class="btn bgm-cyan btn-sm pull-right m-l-5" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.contact.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a> -->
          <!-- <a class="btn bgm-cyan btn-sm pull-right" type="submit" ui-sref="occupations.new" ng-if="vm.userInfo.priority.contact.update  && !vm.isNew"><i class="zmdi zmdi-plus"></i>&nbsp;&nbsp;New</a> -->
        </div>
      </div>
    </div>
    <div class="card-body card-padding">
      <h4 class="m-t-25">Occupation Detail</h4>
      <div class="row">
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Occupation (English)</dt>
            <dd>
              <div class="fg-line">
                <input ng-model="vm.entity.strEnglish" type="text" class="form-control" ng-readonly="!vm.can_edit">
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Occupation (Malay)</dt>
            <dd>
              <div class="fg-line">
                <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.entity.strBahasa">
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <div class="clearfix"></div>
      <h4 class="m-t-25">REMARK</h4>
      <div class="row">
        <div class="col-md-10 p-l-25">
          <dl class="dl-horizontal">
            <dd>
              <div class="fg-line">
                <textarea class="form-control" ng-readonly="!vm.can_edit" rows="2" ng-model="vm.entity.strRemarks"></textarea>
              </div>
            </dd>
          </dl>
        </div>
      </div>

      <h4 class="m-t-25 m-b-15">Office Use</h4>
      <div class="row" data-ng-include src="'office-use.html'"></div>

      <div class="row" ng-if="!vm.isDialog">
        <div class="col-md-11 col-sm-12 no-padding">
          <div class="m-t-30 p-l-15">
            <a class="btn btn-link btn-sm pull-right m-l-5" ng-click="vm.cancel()" >Cancel</a>
            <a class="btn btn-primary btn-sm pull-right m-l-5" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.contact.update && vm.can_edit">Save</a>
            <a class="btn bgm-cyan btn-sm pull-right m-l-5" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.contact.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
            <!-- <a class="btn bgm-cyan btn-sm pull-right" type="submit" ui-sref="occupations.new" ng-if="vm.userInfo.priority.contact.update  && !vm.isNew"><i class="zmdi zmdi-plus"></i>&nbsp;&nbsp;New</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>