<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-12">
          <span class="d-header">{{ vm.title }}</span>
          <ul class="actions matter-action m-l-20" data-ng-include src="'matter-action.html'"></ul>

          <div class="clearfix"></div>
          <span class="c-purple f-500 f-18">{{ vm.title_ }}</span>
        </div>
      </div>
    </div>
    <div class="card-body card-padding">
      <div class="row">
        <div class="col-md-6 col-lg-6 p-l-25">
          <dl class="dl-horizontal">
            <dt class="p-t-10">Date Paid</dt>
            <dd>
              <div class="fg-line">
                <input ng-click="open($event, 'opened1')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="vm.entity.dtDatePaid" is-open="opened1" min-date="'1900-1-1'" datepicker-options="dateOptions" ng-disabled="!vm.can_edit" ng-required="true" close-text="Close" placeholder="Select Date" />
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Paid To</dt>
            <dd>
              <div class="fg-line">
                <input type="text" class="form-control" ng-model="vm.entity.strPaidTo" ng-readonly="!vm.can_edit" ng-required="true" />
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Payment Mode</dt>
            <dd>
              <md-autocomplete
                ng-disabled="!vm.can_edit"
                md-selected-item="vm.strMode"
                md-search-text="qspm"
                md-items="item in vm.queryPaymentMethodType(qspm)"
                md-item-text="item.strDescription"
                md-min-length="0"
                md-selected-item-change="vm.paymentMethodChange(item)"
                class="default-input">
                <md-item-template>
                  <span md-highlight-text="qspm" class="col-1" md-highlight-flags="i">{{ item.strDescription }}</span>
                </md-item-template>
              </md-autocomplete>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Cheque No. / Ref. No.</dt>
            <dd>
              <div class="fg-line">
                <input type="text" class="form-control" ng-model="vm.entity.strChequeNo" ng-readonly="!vm.can_edit" ng-required="true" />
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Amount</dt>
            <dd>
              <div class="fg-line">
                <input type="text" data-input-mask="{ mask: '000,000,000,000,000.00', reverse: true }" class="form-control" ng-readonly="!vm.can_edit" ng-model="vm.entity.decAmount">
              </div>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt class="p-t-10">Remark</dt>
            <dd>
              <div class="fg-line">
                <textarea class="form-control p-l-10" ng-readonly="!vm.can_edit" rows="8" ng-model="vm.entity.strRemarks" placeholder="type here...."></textarea>
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-10 p-0" data-ng-include src="'office-use.html'" style="margin-left: -15px;"></div>
      
      <div class="row">   
        <div class="col-md-5 no-padding">
          <div class="m-t-30">
            <a class="btn btn-link btn-sm pull-right m-l-10" ng-click="vm.cancel()" >Cancel</a>
            <a class="btn btn-danger btn-sm pull-right m-l-10" type="submit" ng-click="vm.openDelete($event, vm.contact)" ng-if="vm.userInfo.priority.note.delete">Delete</a>
            <a class="btn btn-primary btn-sm pull-right m-l-10" type="submit" ng-click="vm.save()" ng-if="vm.userInfo.priority.note.update && vm.can_edit">Save</a>
            <a class="btn bgm-cyan btn-sm pull-right" type="submit" ng-click="vm.can_edit=true;" ng-if="vm.userInfo.priority.note.update && !vm.can_edit"><i class="zmdi zmdi-edit"></i>&nbsp;&nbsp;Edit</a>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>
