<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-12">
          <span class="f-20 f-500 c-purple">Preset Bill List</span>
          <a ui-sref="billing.presetbills-new" class="btn btn-info btn-header"><i class="zmdi zmdi-plus"></i></a>
        </div>
      </div>
    </div>
        
    <div class="card-body">
      <div class="row">
        <div class="col-md-10">
          <div class="table-responsive table-div p-15"> 
            <table ng-table="vm.tableFilter" class="table table-striped table-vmiddle" show-filter="true">
              <tr ng-repeat="w in $data" ui-sref="billing.presetbills-edit({id: w.code})">
                <td data-title="'Preset Code'" filter="{ 'code': 'text' }" sortable="'code'">
                  {{ w.code }}
                </td>
                <td data-title="'Description'" filter="{ 'description': 'text' }" sortable="'description'">
                  {{ w.description }}
                </td>
                <td data-title="'State'" filter="{ 'state': 'text' }" sortable="'state'">
                  {{ w.state }}
                </td>
                <td data-title="'Category'" filter="{ 'category': 'text' }" sortable="'category'">
                  {{ w.category }}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
