<div class="pmb-block">
  <div class="pmbb-header">
    <h2><i class="zmdi zmdi-person m-r-5"></i> Basic Information</h2>

    <ul class="actions" data-ng-if="pctrl.editInfo === 0">
      <li class="dropdown" uib-dropdown>
        <a href="" uib-dropdown-toggle>
          <i class="zmdi zmdi-more-vert"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a data-ng-click="pctrl.editInfo = 1" href="">Edit</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="pmbb-body p-l-30">
    <div class="pmbb-view" data-ng-if="pctrl.editInfo === 0">
      <dl class="dl-horizontal">
        <dt>Full Name</dt>
        <dd>{{ pctrl.userInfo.name }}</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>ID #</dt>
        <dd>{{ pctrl.profile.ID }}</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Position</dt>
        <dd>{{ pctrl.profile.position }}</dd>
      </dl>
    </div>

    <form data-ng-submit="pctrl.submit('profileInfo', 'Profile Information')" class="pmbb-edit" data-ng-if="pctrl.editInfo === 1">
      <dl class="dl-horizontal">
        <dt class="p-t-10">Full Name</dt>
        <dd>
          <div class="fg-line">
            <input ng-model="pctrl.userInfo.name" type="text" class="form-control" placeholder="eg. Mallinda Hollaway">
          </div>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt class="p-t-10">ID #</dt>
        <dd>
          <div class="fg-line">
            <input type='text' class="form-control" ng-model="pctrl.profile.ID" placeholder="UA203453">
          </div>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt class="p-t-10">Position</dt>
        <dd>
          <div class="fg-line">
            <input type='text' class="form-control" ng-model="pctrl.profile.position" placeholder="Lawyer">
          </div>
        </dd>
      </dl>

      <div class="m-t-30">
        <button class="btn btn-primary btn-sm" type="submit">Save</button>
        <button class="btn btn-link btn-sm" data-ng-click="pctrl.editInfo = 0" >Cancel</button>
      </div>
    </form>
  </div>
</div>

<div class="pmb-block">
  <div class="pmbb-header">
    <h2><i class="zmdi zmdi-phone m-r-5"></i> Firm Information</h2>

    <ul class="actions" data-ng-if="pctrl.editContact === 0">
      <li class="dropdown" uib-dropdown>
        <a href="" uib-dropdown-toggle>
          <i class="zmdi zmdi-more-vert"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a data-ng-click="pctrl.editContact = 1" href="">Edit</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="pmbb-body p-l-15 p-b-25">
    <div class="pmbb-view" data-ng-if="pctrl.editContact === 0">
      <div class="col-md-6">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd>{{ pctrl.userInfo.catDenning[0].LawFirm.name }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Initials</dt>
          <dd>{{ pctrl.profile.initials }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Description</dt>
          <dd>{{ pctrl.userInfo.catDenning[0].LawFirm.IDNo }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Address1</dt>
          <dd>{{ pctrl.userInfo.catDenning[0].LawFirm.address.line1 }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Address2</dt>
          <dd>{{ pctrl.userInfo.catDenning[0].LawFirm.address.line2 }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Address3</dt>
          <dd>{{ pctrl.userInfo.catDenning[0].LawFirm.address.line3 }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Postcode</dt>
          <dd>{{ pctrl.userInfo.catDenning[0].LawFirm.address.postcode }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>State</dt>
          <dd>{{ pctrl.userInfo.catDenning[0].LawFirm.address.state }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>City</dt>
          <dd>{{ pctrl.userInfo.catDenning[0].LawFirm.address.city }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Country</dt>
          <dd>{{ pctrl.userInfo.catDenning[0].LawFirm.address.country }}</dd>
        </dl>
      </div>
      <div class="col-md-6">
        <dl class="dl-horizontal">
          <dt>Phone1</dt>
          <dd>{{ pctrl.userInfo.catDenning[0].LawFirm.phoneHome }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Phone2</dt>
          <dd>{{ pctrl.userInfo.catDenning[0].LawFirm.phoneMobile }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Fax1</dt>
          <dd>{{ pctrl.userInfo.catDenning[0].LawFirm.phoneFax }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Fax2</dt>
          <dd>{{ pctrl.userInfo.catDenning[0].LawFirm.phoneOffice }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Website</dt>
          <dd>{{ pctrl.profile.website }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>IRD Branch</dt>
          <dd>{{ pctrl.profile.IRDBranch }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>GST Registered</dt>
          <dd>{{ pctrl.profile.GSTRegistered }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>GSTRate</dt>
          <dd>{{ pctrl.profile.GSTRate }}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Registration No</dt>
          <dd>{{ pctrl.profile.RegistrationNo }}</dd>
        </dl>      
        <dl class="dl-horizontal">
          <dt>Register Date</dt>
          <dd>{{ pctrl.profile.RegisterDate }}</dd>
        </dl>      
      </div>
    </div>

    <form data-ng-submit="pctrl.submit('profileContact', 'Profile Contact Information')" class="pmbb-edit" data-ng-if="pctrl.editContact === 1">
      <dl class="dl-horizontal">
        <dt class="p-t-10">Mobile Phone</dt>
        <dd>
          <div class="fg-line">
            <input data-ng-model="pctrl.userInfo.hpNumber" type="text" class="form-control" placeholder="eg. 00971 12345678 9">
          </div>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt class="p-t-10">Email Address</dt>
        <dd>
          <div class="fg-line">
            <input data-ng-model="pctrl.userInfo.email" type="email" class="form-control" placeholder="eg. malinda.h@gmail.com">
          </div>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt class="p-t-10">Twitter</dt>
        <dd>
          <div class="fg-line">
            <input data-ng-model="pctrl.twitter" type="text" class="form-control" placeholder="eg. @malinda">
          </div>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt class="p-t-10">Skype</dt>
        <dd>
          <div class="fg-line">
            <input data-ng-model="pctrl.skype" type="text" class="form-control" placeholder="eg. malinda.hollaway">
          </div>
        </dd>
      </dl>

      <div class="m-t-30">
        <button class="btn btn-primary btn-sm" type="submit">Save</button>
        <button class="btn btn-link btn-sm" data-ng-click="pctrl.editContact = 0" >Cancel</button>
      </div>
    </form>
  </div>
</div>
