<div class="container">
  <div class="block-header">
    <h2>home / projects</h2>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-12">
          <span class="f-20 f-500 c-purple">Project List</span>
          <a ui-sref="projects.new" class="btn btn-info btn-header"><i class="zmdi zmdi-plus"></i></a>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="col-sm-4 p-l-25">
        <div class="input-group input-group-lg">
          <span class="input-group-addon search-icon"><i class="zmdi zmdi-search"></i></span>
          <div class="fg-line">
            <input type="text" class="form-control" placeholder="Search" ng-model="vm.keyword" ng-keypress="vm.search($event, false)">
          </div>
          <span class="input-group-addon search-clear" ng-show="vm.keyword" ng-click="vm.search($event, true);"><i class="zmdi zmdi-close"></i></span>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="table-responsive table-div p-15">
        <table ng-table="vm.tableFilter" class="table table-striped table-vmiddle table-list">
          <tr ng-repeat="w in $data" ui-sref="projects.edit({'id': w.code})">
            <td data-title="'Name'">
              {{ w.name }}
            </td>
            <td data-title="'Proprietor'">
              {{ w.proprietor.name }}
            </td>
            <td data-title="'Developer'">
              {{ w.developer.name }}
            </td>
            <td data-title="'Phase'">
              {{ w.phase }}
            </td>
            <td data-title="'Master Title'">
              {{ w.masterTitle }}
            </td>
            <td data-title="'License'">
              {{ w.licenseNo }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
