.preview {
  border: 2px solid lightgrey; 
  padding: 20px;
  min-height: 100px; 
  overflow: visible;
}

.no-padding {
  padding: 0;
}

.formly-field {
  margin-bottom:16px;
}

.attr-label {
  border: 0; 
  background: #fafafa;  
  width: 180px;
  margin: 0px;
  -webkit-box-shadow: none; 
}

.attr-label-210 {
  border: 0; 
  background: #fafafa;
  width: 210px;
  margin: 0px;
  -webkit-box-shadow: none; 
}

.attr-label-220 {
  border: 0; 
  background: #fafafa;  
  width: 220px;
  margin: 0px;
  -webkit-box-shadow: none; 
}

.attr-label-1 {
  border: 0; 
  background: #fafafa;  
  margin: 0px;
  -webkit-box-shadow: none; 
  padding-left: 8px;
  padding-right: 0;
  color: black;
}

.attr-label-v1 {
  border: 0; 
  padding-top: 5px !important;
  background: #f5f5f5;  
  width: 100px;
  margin: 0px 5px 0px 15px;
  -webkit-box-shadow: none; 
}

.button-group {
  margin: 0 50px 50px 0;
}

.button-group a {
  margin: 6px !important;
  width: 90px;
}

input.form-control, label.form-control, select.form-control {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.short-label {
  width: 36px;
  margin: 0px;
  padding-left: 10px !important;
  padding-top: 6px !important; 
}

.short-btn {
  padding: 6px 8px;
  max-height: 30px;
}

.group-label {
  border: 0; 
  -webkit-box-shadow: none; 
  border-radius: 0px;
  color: white;
  background: #00bcd4;
  font-weight: 500;
  font-size: 15px;
  margin-top: 0;
  padding-left: 16px;
  padding-top: 6px;
  padding-bottom: 7px;
}

.inline-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.group {
  background: #f5f5f5;
  padding-bottom: 5px;
  min-height: 100px;
  overflow: visible;  
  margin-bottom: 25px;
}

.formly-field-group {
}

.formly-field {
  margin-bottom: 5px;
}

/* TAB stylesheet */
.nav-tabs a {
  font-weight: 500;
  font-size: 14px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs .active a, .nav-tabs > .uib-tab.active > a:focus, .nav-tabs > .uib-tab.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border-color: #ddd #ddd #fff #ddd !important;
}

md-autocomplete.default-input {
    height: 30px;
}

md-autocomplete.default-input md-autocomplete-wrap {
    height: 30px;
}

md-autocomplete.default-input input:not(.md-input) {
    height: 30px;
}

.col-1 {
    width: 300px;
    display: inline-block;
    /*overflow-x: hidden;*/
    /*padding-right: 10px;*/
}

.col-360 {
    width: 360px;
    display: inline-block;
    /*overflow-x: hidden;*/
    /*padding-right: 10px;*/
}

.btn-em-add {
    padding: 2px 4px 2px 6px;
    max-height: 30px;
    margin-left: 50px;
    position: absolute;
    left: 180px;    
}

.group-label-wrapper {
    padding-top: 3px;
    padding-bottom: 4px;
}