<!DOCTYPE html>
    <!--[if IE 9 ]><html class="ie9" data-ng-app="denningOnline" data-ng-controller="denningOnlineCtrl as mactrl"><![endif]-->
    <![if IE 9 ]><html data-ng-app="denningOnline" data-ng-controller="denningOnlineCtrl as mactrl"><![endif]>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Denning Online</title>

        <link rel="shortcut icon" href="img/favicon.ico">
        <!-- inject:vendor.css -->
        <!-- endinject -->

        <!-- build:css({.tmp/serve,src}) styles/app.css -->
        <!-- inject:css -->
        <!-- css files will be automatically insert here -->
        <!-- endinject -->
        <!-- endbuild -->
    </head>

    <body class="sw-toggled">
        <data ui-view></data>
        <iframe class="chat_frame" ng-class="mactrl.sidebarToggle.border" style="border: none;" ng-src="{{ app.chat_url }}" ng-show="mactrl.sidebarToggle.right"></iframe>

        <script type="text/ng-template" id="office-use.html">
          <div class="col-md-6 p-l-25">
            <dl class="dl-horizontal">
              <dt>Entered by</dt>
              <dd><label>{{ vm.entity.clsEnteredBy.strInitials }}</label></dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Date</dt>
              <dd><label>{{ vm.entity.dtDateEntered|ddate }}</label></dd>
            </dl>
          </div>
          <div class="col-md-6 p-l-25">
            <dl class="dl-horizontal">
              <dt>Updated by</dt>
              <dd><label>{{ vm.entity.clsUpdatedBy.strInitials }}</label></dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Date</dt>
              <dd><label>{{ vm.entity.dtDateUpdated|ddate }}</label></dd>
            </dl>
          </div>
        </script>

        <script type="text/ng-template" id="preview-doc.html">
          <div class="modal-header">
              <span class="modal-title f-16 f-500 c-black m-r-10">{{ filename }}</span>
              <a class="btn btn-default btn-sm m-l-25 bgm-gray" title="Download" ng-click="download()">
                  <i class="zmdi zmdi-download"></i>
              </a>
          </div>
          <div style="height: calc(100vh - 135px);">
              <iframe ng-src="{{ url }}" style="width: 100%; height: 100%; border: 1px solid #aaa;"></iframe>
          </div>
        </script>

        <script type="text/ng-template" id="remarks.html">
            <div class="col-md-6 p-l-25">
              <dl class="dl-horizontal">
                <dt class="p-t-10">Remark</dt>
                <dd>
                  <div class="fg-line">
                    <textarea class="form-control p-l-10" ng-readonly="!vm.can_edit" rows="8" ng-model="vm.entity.strRemarks" placeholder="type here...."></textarea>
                  </div>
                </dd>
              </dl>
            </div>
        </script>

        <script type="text/ng-template" id="mailing-address.html">
            <div class="col-md-6 p-l-25">
              <dl class="dl-horizontal p-t-10">
                <dt class="p-t-0">Full Address 1</dt>
                <dd>
                  <div class="fg-line">
                    <textarea class="form-control p-l-10" readonly rows="8" ng-bind="vm.fullAddress()"></textarea>
                  </div>
                </dd>
              </dl>
            </div>
            <div class="col-md-6 p-l-25">
              <dl class="dl-horizontal p-t-10">
                <dt class="p-t-0">Full Address 2</dt>
                <dd>
                  <div class="fg-line">
                    <textarea class="form-control p-l-10" readonly rows="4">{{ vm.entity.strAddressLine1 }}{{ vm.entity.strAddressLine2 }}{{ vm.entity.strAddressLine3 }}{{ vm.entity.strPostCode }} {{ vm.entity.strCity }}, {{ vm.entity.strState }}, {{ vm.entity.strCountry }}</textarea>
                  </div>
                </dd>
              </dl>
            </div>
        </script>

        <script type="text/ng-template" id="contact-info-0.html">
            <div class="col-md-6 p-l-25">
              <dl class="dl-horizontal">
                <dt class="p-t-10">Address (Line 1)</dt>
                <dd>
                  <div class="fg-line">
                    <input ng-model="vm.entity.strAddressLine1" ng-readonly="!vm.can_edit" type="text" class="form-control" camel-case-tail-comma>
                  </div>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="p-t-10">Address (Line 2)</dt>
                <dd>
                  <div class="fg-line">
                    <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.entity.strAddressLine2" camel-case-tail-comma>
                  </div>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="p-t-10">Address (Line 3)</dt>
                <dd>
                  <div class="fg-line">
                    <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.entity.strAddressLine3" camel-case-tail-comma>
                  </div>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="p-t-10">Postcode</dt>
                <dd>
                  <div class="fg-line">
                    <md-autocomplete
                      ng-disabled="!vm.can_edit"
                      md-selected-item="vm.strPostCode_"
                      md-search-text="qsct"
                      md-items="item in vm.queryPostcodes(qsct)"
                      md-selected-item-change="vm.postcodeChange(item)"
                      md-item-text="item.postcode"
                      md-min-length="0"
                      class="default-input">
                      <md-item-template>
                        <span md-highlight-text="qsct" class="col-1" md-highlight-flags="i">
                          {{ item.postcode }}
                        </span>
                      </md-item-template>
                    </md-autocomplete>
                  </div>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="p-t-10">Town / City</dt>
                <dd>
                  <div class="fg-line">
                    <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.entity.strCity" camel-case>
                  </div>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="p-t-10">State</dt>
                <dd>
                  <div class="fg-line">
                    <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.entity.strState" camel-case>
                  </div>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="p-t-10">Country</dt>
                <dd>
                  <div class="fg-line">
                    <input ng-model="vm.entity.strCountry" ng-readonly="!vm.can_edit" type="text" class="form-control" camel-case>
                  </div>
                </dd>
              </dl>
            </div>
            <div class="col-md-6 p-l-25">
              <dl class="dl-horizontal">
                <dt class="p-t-10">Contact Person</dt>
                <dd>
                  <div class="fg-line">
                    <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.entity.strContactPerson">
                  </div>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="p-t-10" ng-if="vm._type=='contact'">Phone Home</dt>
                <dt class="p-t-10" ng-if="vm._type!='contact'">Phone 1</dt>
                <dd>
                  <input type="text" international-phone-number ng-model="vm.entity.strPhone1No" ng-readonly="!vm.can_edit">
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="p-t-10" ng-if="vm._type=='contact'">Phone Office</dt>
                <dt class="p-t-10" ng-if="vm._type!='contact'">Phone 2</dt>
                <dd>
                  <input type="text" international-phone-number ng-model="vm.entity.strPhone2No" ng-readonly="!vm.can_edit">
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="p-t-10">Phone Mobile</dt>
                <dd>
                  <input type="text" international-phone-number ng-model="vm.entity.strPhone3No" ng-readonly="!vm.can_edit">
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="p-t-10">Fax</dt>
                <dd>
                  <input type='text' international-phone-number ng-model="vm.entity.strFax1No" ng-readonly="!vm.can_edit">
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="p-t-10">Email</dt>
                <dd>
                  <div class="fg-line">
                    <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.entity.strEmailAddress">
                  </div>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt class="p-t-10">Website</dt>
                <dd>
                  <div class="fg-line">
                    <input type='text' ng-readonly="!vm.can_edit" class="form-control" ng-model="vm.entity.strWebSite">
                  </div>
                </dd>
              </dl>
            </div>
        </script>

        <!-- inject:vendor.js -->
        <!-- endinject -->

        
        <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
        <!-- inject:js -->
        <!-- js files will be automatically insert here -->
        <!-- endinject -->
    </body>
</html>

